Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

updated the wizard to ask for chainnet
  deploy/scripts/create_governance_vault_entry
Due: none

Add truffle and a general npm install to the devcontainer dockerfile
  .devcontainer/Dockerfile
Due: none

additional returns
  x/dispensation/keeper/executors.go
  x/dispensation/types/msgs.go
Due: server

commented handler case
  x/dispensation/handler.go
Due: server

commented DistributeDrops in BeginBlocker
  x/dispensation/abci.go
Due: server

temp commit
  deploy/helm/sifnode-vault/templates/deployment.yaml
  deploy/helm/sifnode/templates/deployment.yaml
Due: none

Bump the version to 0.8.3
  CHANGELOG.md
  app/setupHandlers.go
  version
Due: none

Linter fixes.
  x/dispensation/handler.go
  x/dispensation/keeper/executors.go
  x/dispensation/types/msgs.go
Due: server

Commented out the dispensation tests.
  x/dispensation/handler_test.go
  x/dispensation/keeper/distributionRecords_test.go
  x/dispensation/keeper/distrubtions_test.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/keeper/querier_test.go
  x/dispensation/keeper/userclaims_test.go
Due: server

mapped the release request to create release on target branches based on appenv
  deploy/rake/cluster.rake
Due: none

revered helm changes for emergency patch
  deploy/helm/sifnode/templates/deployment.yaml
Due: none

AddTxFlags to ethbridge / dispensation
  x/dispensation/client/cli/tx.go
  x/ethbridge/client/cli/tx.go
Due: server

Add user.currentAPYOnTickets as liquidity mining bonus APY
  ui/app/src/components/poolStats/PoolStatsList.vue
  ui/app/src/views/StatsPage.vue
Due: none

Update for from address in eth lock
  x/ethbridge/client/cli/tx.go
Due: server

Fix merge on cmds for genesis writers
  cmd/sifnoded/cmd/gentx.go
  cmd/sifnoded/cmd/oracle.go
Due: none

ui/app/{PoolStatsList,StatsPage}: Andrew's changes
  ui/app/src/components/poolStats/PoolStatsList.vue
  ui/app/src/views/StatsPage.vue
Due: none

ui/app/StatsPage: only fetch default_address
  ui/app/src/views/StatsPage.vue
Due: none

Always use default_address
  ui/app/src/views/StatsPage.vue
Due: none

Remove unused function buildKeyringInfoForAccount
  cmd/ebrelayer/relayer/ethereum.go
Due: none

Remove manual sequence number tracking
  cmd/ebrelayer/txs/relayToCosmos.go
Due: none

Revert "remove extra arguments."
  test/integration/src/py/test_utilities.py
Due: none

ui/app: RewardsPage: copy changes
  ui/app/src/views/RewardsPage.vue
Due: none

added create release by branch rake task
  deploy/rake/cluster.rake
Due: none

Hotfix release 0.8.4.
  CHANGELOG.md
  app/setupHandlers.go
  version
  x/dispensation/handler.go
  x/dispensation/handler_test.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/types/msgs.go
Due: server

Bring across the rake task to launch a governance proposal by branch.
  deploy/rake/cluster.rake
Due: none

integration test for vulnerability fix testing
  test/integration/src/py/hackerfile.json
  test/integration/src/py/test_dispensation_vulnerability.py
Due: none

added rake tasks for generating keyring from mnemonic and no passphrase proposal and voting.
  deploy/rake/cluster.rake
Due: none

added cli compile before execurting keyring
  deploy/rake/cluster.rake
Due: none

added back dispensation
  x/dispensation/abci.go
  x/dispensation/client/cli/tx.go
  x/dispensation/handler.go
  x/dispensation/keeper/executors.go
  x/dispensation/types/msgs.go
  x/dispensation/utils/verfifysigner.go
Due: server

added error messages
  input.json
  scripts/demos/dispensation/airdrop.sh
  x/dispensation/types/errors.go
  x/dispensation/types/msgs.go
Due: server

ui/app/RewardsPage,RewardsContainer: Validatory Subsidy, DRY
  ui/app/src/components/shared/RewardContainer/RewardContainer.vue
  ui/app/src/views/RewardsPage.vue
Due: none

[ui] changed peg/unpeg to import/export visually, and fix the url
  ui/app/src/components/Notifications.vue
  ui/app/src/components/shared/PanelNav/PanelNav.vue
  ui/app/src/router/index.ts
  ui/app/src/views/PegAssetPage.vue
  ui/app/src/views/PegListingPage.vue
  ui/app/src/views/StakeDelegatePage.vue
  ui/core/src/usecases/peg/index.ts
  ui/e2e/index.test.js
Due: ui

Linter fixes.
  x/dispensation/types/msgs.go
Due: server

Warn when not logged in to ghcr registry
  ui/scripts/build-stack-backend-docker.sh
  ui/scripts/ensure-docker-logged-in.sh
  ui/scripts/run-stack-backend.sh
Due: none

uncommented older tests
  scripts/demos/dispensation/airdrop.sh
  x/dispensation/handler.go
  x/dispensation/handler_test.go
  x/dispensation/keeper/distributionRecords_test.go
  x/dispensation/keeper/distrubtions_test.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/keeper/keeper_test.go
  x/dispensation/keeper/querier_test.go
  x/dispensation/types/msgs_test.go
Due: server

uncommented older tests
  x/dispensation/keeper/userclaims_test.go
Due: server

Ignore python venv for testing
  .gitignore
Due: none

added unit test for multisig
  x/dispensation/types/msgs.go
  x/dispensation/types/msgs_test.go
Due: server

renamed to distributor
  x/dispensation/types/msgs.go
  x/dispensation/types/msgs_test.go
Due: server

Update sifgen dispensation genesis state structure
  tools/sifgen/common/types/genesis.go
  x/dispensation/genesis.go
Due: none
