Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

e2e tests working
  ui/e2e/index.test.js
  ui/e2e/stack.js
Due: none

enable tests, fix more warnings
  go.mod
  x/clp/genesis_test.go
  x/clp/keeper/executors.go
  x/clp/keeper/keeper_test.go
  x/clp/keeper/liquidityprovider.go
  x/clp/keeper/querier_test.go
  x/clp/types/msgs.go
  x/clp/types/querier.go
  x/clp/types/types.go
  x/dispensation/keeper/keeper_test.go
  x/dispensation/keeper/querier_test.go
  x/dispensation/test/test_common.go
  x/dispensation/types/msgs.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/types/claim.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/test_common.go
Due: server

fix tests
  x/dispensation/keeper/msg_server.go
  x/dispensation/keeper/querier.go
  x/dispensation/module.go
Due: server

fix CreateEthClaimFromOracleString
  x/ethbridge/types/claim.go
Due: server

Bump golangci-lint to 2.5.2
  .github/workflows/go.yml
Due: none

Re-add ethbridge to app, fix import cycle on test helpers.
  app/app.go
  x/ethbridge/handler_test.go
  x/ethbridge/internal/test_helpers.go
  x/ethbridge/keeper/cethReceiverAccount_test.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/test_common.go
Due: server

Remove usage of simulation manager as it is nil.
  app/app.go
Due: none

Fix install of transfer module
  app/app.go
Due: none

Fix app_test
  app/app_test.go
Due: none

fix stringer
  x/clp/keeper/executors.go
  x/clp/keeper/liquidityprovider.go
  x/clp/types/msgs.go
  x/clp/types/querier.go
  x/clp/types/types.go
  x/dispensation/types/msgs.go
  x/ethbridge/types/claim.go
  x/ethbridge/types/msgs.go
Due: server

Deprecate supply module in dispensation module
  app/app.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/keeper/keeper.go
  x/dispensation/module.go
  x/dispensation/types/expected_keepers.go
Due: server

Supply keeper rename missed
  app/app.go
Due: none

Fix handler test in dispensation module
  x/dispensation/handler_test.go
  x/dispensation/keeper/executors.go
Due: server

fix executors test
  x/dispensation/keeper/executors_test.go
Due: server

Rename ethbridge test files package name to _test
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/cethReceiverAccount_test.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/keeper/querier_test.go
Due: server

test fixes wip
  x/dispensation/keeper/keeper_test.go
  x/dispensation/keeper/querier_test.go
Due: server

All dispensation unit tests passing
  x/dispensation/keeper/distribution.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/keeper_test.go
  x/dispensation/keeper/querier.go
  x/dispensation/keeper/querier_test.go
Due: server

cleanup oracle keeper tests
  x/oracle/keeper/keeper_test.go
Due: server

Oracle tests pass after bringing back usage of create test keeper (defined in ethbridge/test)
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/cethReceiverAccount_test.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/test/test_helpers.go
  x/oracle/keeper/keeper_test.go
Due: server

[ui] more updates to core layout. fixes for panel buttons. work on new button component
  ui/app/src/App.vue
  ui/app/src/components/layout/Layout.vue
  ui/app/src/components/navigation/PanelNavItem.vue
  ui/app/src/components/shared/Button/Button.stories.ts
  ui/app/src/components/shared/Button/Button.vue
  ui/app/src/components/shared/Header/Header.vue
  ui/app/src/components/shared/Menu/Menu.vue
  ui/app/src/components/shared/PanelNav/PanelNav.vue
  ui/app/src/components/shared/PanelNav/PanelNavItem.stories.ts
  ui/app/src/components/shared/PanelNav/PanelNavItem.vue
  ui/app/src/scss/typography.scss
  ui/package.json
  ui/yarn.lock
Due: none

put the geensis sample file in docs.
  docs/peggy/Peggy-Export-Data.md
  docs/peggy/genesis.json
Due: none

fix several lint error.
  cmd/ebrelayer/types/types.go
  x/clp/handler_test.go
  x/ethbridge/client/cli/query.go
Due: server

disable interfacer linter
  .golangci.yml
Due: none

MongoDB container sizing.
  deploy/helm/mongodb/values.yaml
Due: none

TIdy up
  ui/e2e/ethereum.js
  ui/e2e/index.test.js
  ui/e2e/stack.js
  ui/e2e/utils.js
Due: none

vault install adjustments
  deploy/rake/cluster.rake
Due: none

Move stack up to be shared with core
  ui/e2e/index.test.js
  ui/test/stack.ts
Due: none

add comment
  ui/test/stack.ts
Due: none

fix all linter issues.
  x/clp/keeper/grpc_query.go
  x/dispensation/keeper/querier.go
  x/dispensation/test/test_common.go
  x/oracle/keeper/validatorWhiteList.go
Due: server

Add stack to integration tests
  ui/core/package.json
  ui/core/src/api/ClpService/ClpService.test.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
  ui/core/src/api/EthereumService/EthereumService.test.ts
  ui/core/src/api/SifService/SifService.test.ts
  ui/e2e/package.json
  ui/package.json
  ui/test/stack.ts
Due: ui

vault install adjustments
  deploy/helm/vault/override-values.yaml
Due: none

fix parset test
  cmd/ebrelayer/txs/parser_test.go
  cmd/ebrelayer/txs/test_common.go
Due: none

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
