Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

fix typo
  x/clp/genesis.go
Due: none

Move sleep function
  ui/e2e/ethereum.js
  ui/e2e/index.test.js
Due: none

Updated bridge bank contract addresses.
  ui/core/src/config.devnet.json
  ui/core/src/config.testnet.json
Due: ui

changed vault, certmanager, and ebrelayer pipelines to use manual deploymnent and changed logic to only deploy environmenst specified and ebrelayer to take image specified in the tag
  .github/workflows/ebrelayer.yml
Due: none

changed vault, certmanager, and ebrelayer pipelines to use manual deploymnent and changed logic to only deploy environmenst specified and ebrelayer to take image specified in the tag
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

Update clp docs
  docs/clp/Liquidity Pools Architecture.md
  docs/clp/clp-adr.md
Due: none

[ui] completed the full storybook setup. there were issues with scss. created some new stories and components
  ui/.storybook/main.js
  ui/app/src/components/shared/Box.stories.ts
  ui/app/src/components/shared/Box.vue
  ui/app/src/components/shared/Icon.vue
  ui/app/src/components/shared/SifButton.stories.ts
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
  ui/package.json
  ui/yarn.lock
Due: ui

testing the clean up for vault
  .github/workflows/ebrelayer.yml
  .github/workflows/vault.yml
  deploy/rake/cluster.rake
Due: none

testing the clean up for vault
  .github/workflows/vault.yml
Due: none

Cleaned up the code and pipeline code standardized approach to manual deployment on env name
  .github/workflows/cert-manager.yml
  .github/workflows/ebrelayer.yml
  .github/workflows/vault.yml
Due: none

fixed empty genesis admin
  x/clp/types/asset.go
  x/clp/types/genesis.go
Due: server

updated to deploy devnet
  .github/workflows/ebrelayer-integration-tests.yml
  .github/workflows/ebrelayer.yml
Due: none

updated to deploy devnet
  .github/workflows/ebrelayer.yml
Due: none

kick us us ebrelayer again
  .github/workflows/ebrelayer-integration-tests.yml
Due: none

reverted the job back to the tempalted code instead of tricking to deploy
  .github/workflows/ebrelayer.yml
Due: none

integration test pipeline test
  .github/workflows/ebrelayer-integration-tests.yml
Due: none

Test coverage for the important sections of the code
  scripts/demos/dispensation/airdrop.sh
  x/dispensation/abci.go
  x/dispensation/client/cli/query.go
  x/dispensation/genesis.go
  x/dispensation/keeper/keeper_test.go
  x/dispensation/keeper/querier.go
  x/dispensation/keeper/querier_test.go
  x/dispensation/module.go
Due: server

added tests to increase coverage
  x/dispensation/keeper/executors_test.go
Due: server

[ui] more work on rewards page. just refactoring into a more component based style. adding to storybook as i go
  ui/app/src/components/shared/Box.vue
  ui/app/src/components/shared/Text/Copy.stories.ts
  ui/app/src/components/shared/Text/Copy.vue
  ui/app/src/components/shared/Text/SubHeading.vue
  ui/app/src/components/shared/Text/index.ts
  ui/app/src/scss/variables.scss
  ui/app/src/views/RewardsPageNew.vue
Due: none

Partial swap test
  ui/app/src/components/actionsPanel/ActionsPanel.vue
  ui/app/src/components/confirmationDialog/AskConfirmation.vue
  ui/app/src/components/currencyPairPanel/Index.vue
  ui/app/src/components/currencyfield/CurrencyField.vue
  ui/app/src/components/navigation/PanelNav.vue
  ui/app/src/components/shared/DetailsPanel.vue
  ui/app/src/components/tokenSelector/SelectTokenDialog.vue
  ui/app/src/views/PegAssetPage.vue
  ui/e2e/config.js
  ui/e2e/index.test.js
  ui/e2e/utils.js
Due: none

pretty
  ui/app/src/components/navigation/PanelNav.vue
  ui/app/src/components/navigation/PanelNavItem.vue
  ui/app/src/components/shared/AssetItem.vue
  ui/app/src/components/shared/icons/Sif.vue
  ui/app/src/router/index.ts
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
Due: ui

Rename token files to match environments
  ui/core/src/assets.ethereum.sifchain-devnet.json
  ui/core/src/assets.ethereum.sifchain-testnet.json
Due: ui

Updated token addresses for assets.ethereum.sifchain-testnet.json
  ui/core/src/assets.ethereum.sifchain-testnet.json
Due: ui

Updated token addresses in sifchain-devnet
  ui/core/src/assets.ethereum.sifchain-devnet.json
Due: ui

Update tokenwhitelist*json files for devnet and testnet
  ui/core/src/tokenwhitelist.sandpit.json
  ui/core/src/tokenwhitelist.sifchain-devnet.json
  ui/core/src/tokenwhitelist.sifchain-testnet.json
Due: ui

fixed minor typos refactored key for distribution
  tools/sifgen/sifgen.go
  x/clp/types/keys_test.go
  x/dispensation/keeper/distribution.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/keeper_test.go
  x/dispensation/types/errors.go
  x/dispensation/types/keys.go
Due: server

Integration tests for rescue ceth are now repeatable
  test/integration/src/py/conftest.py
  test/integration/src/py/test_peggy_fees.py
Due: none

added README.md
  x/dispensation/README.md
Due: server

Update README.md
  x/dispensation/README.md
Due: server

Truffle update requires no sudo for install
  test/integration/setup-linux-environment-user.sh
Due: none

Add missing bracket
  ui/app/src/views/PegListingPage.vue
Due: none

Adjust formula to use amount api
  ui/app/src/views/PegListingPage.vue
Due: none
