Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

Reduce permissions here.
  .github/workflows/node.yml
Due: none

Temporarily remove write permissions here.
  .github/workflows/playwright-ui.yml
Due: none

ui/app/SinglePool: some spacing, loader, copy changes
  ui/app/src/views/SinglePool.vue
Due: none

ui/e2e: fix liquidity test
  ui/e2e/index.test.js
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

added type to key for records
  x/dispensation/handler.go
  x/dispensation/handler_test.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/distributionRecords_test.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/types/keys.go
  x/dispensation/types/msgs.go
  x/dispensation/utils/parser.go
  x/dispensation/utils/parser_test.go
Due: server

add output flag to clp cli
  test/integration/src/py/test_liquidity_pools.py
  x/clp/client/cli/tx.go
Due: server

added type to key for records
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/distributionRecords_test.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/executors_test.go
Due: server

WIP
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/components/confirmationDialog/AskConfirmation.vue
  ui/app/src/components/confirmationDialog/ConfirmationDialog.vue
  ui/app/src/components/shared/AskConfirmationInfo/Index.vue
  ui/app/src/components/shared/DetailsPanelPool.vue
  ui/app/src/views/SwapPage.vue
Due: none

Add check for using format with strings
  ui/core/src/utils/format.ts
Due: ui

[ui] fixed blockexplorer button on pool page. added a new state to SifButton that allows for absolute urls
  ui/app/src/components/shared/SifButton.vue
  ui/app/src/views/SinglePool.vue
Due: none

WIP: fixing styles
  ui/app/src/App.vue
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/components/confirmationDialog/AskConfirmation.vue
  ui/app/src/components/confirmationDialog/ConfirmationDialog.vue
  ui/app/src/components/shared/AskConfirmationInfo/Index.vue
  ui/app/src/components/shared/AssetItemLarge/AssetItemLarge.vue
  ui/app/src/components/shared/DetailsPanelPool.vue
  ui/app/src/components/shared/SifButton.vue
  ui/app/src/scss/typography.scss
  ui/app/src/views/CreatePoolPage.vue
  ui/app/vue.config.js
  ui/core/src/utils/decimalShift.test.ts
  ui/core/src/utils/decimalShift.ts
  ui/core/src/utils/format.ts
Due: ui

Fix up minor additional issues
  ui/app/src/App.vue
  ui/app/src/components/shared/PanelNav/PanelNavItem.vue
Due: none

Fix up info view
  ui/app/src/components/shared/AskConfirmationInfo/Index.vue
  ui/app/src/components/shared/AssetItemLarge/AssetItemLarge.vue
  ui/app/src/components/shared/DetailsPanelPool.vue
Due: none

Fix up some test bugs
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/components/confirmationDialog/AskConfirmation.vue
  ui/app/src/components/confirmationDialog/ConfirmationDialog.vue
  ui/app/src/components/shared/AskConfirmationInfo/Index.vue
  ui/app/src/components/shared/DetailsPanelPool.vue
Due: none

Tidy up UI issues
  ui/app/src/components/confirmationDialog/ConfirmationDialog.vue
  ui/app/src/components/shared/AssetItemLarge/AssetItemLarge.vue
  ui/app/src/components/tokenSelector/tokenLists.ts
Due: none

Fix up test
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/components/shared/AskConfirmationInfo/Index.vue
  ui/e2e/index.test.js
Due: none

Fix test
  ui/e2e/index.test.js
Due: none

Remove comment
  ui/app/src/components/shared/DetailsPanelPool.vue
Due: none

Remove log
  ui/core/src/utils/decimalShift.ts
Due: ui

Add "integer" trim to format
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/components/confirmationDialog/AskConfirmation.vue
  ui/core/src/utils/format.test.ts
  ui/core/src/utils/format.ts
  ui/e2e/index.test.js
Due: ui

Upgrade handler.
  app/setupHandlers.go
Due: none

Add extra unit test
  ui/core/src/utils/format.test.ts
Due: ui

Add cosmos migrate cmd to sifnoded for genesis.json
  cmd/sifnoded/cmd/root.go
  test/integration/v039_exported_state.json
Due: none

[ui] added comment to absolute prop on sifbutton
  ui/app/src/components/shared/SifButton.vue
Due: none

Fix go compilation / ci tests
  x/dispensation/keeper/grpc_querier.go
  x/dispensation/keeper/querier_test.go
  x/dispensation/keeper/userClaim.go
  x/dispensation/keeper/userclaim_test.go
  x/dispensation/keeper/userclaims_test.go
  x/dispensation/utils/input.json
  x/dispensation/utils/parser_test.go
  x/ethbridge/genesis.go
  x/ethbridge/types/genesis.go
Due: server

Fix go compilation / go ci tests
  x/dispensation/keeper/userclaim.go
Due: server

[ui] correctly send boolean to sifbutton when absolute
  ui/app/src/views/SinglePool.vue
Due: none

[ui] urlencode emails before sending to mailchimp
  ui/app/src/components/shared/Footer/Footer.vue
Due: none

remove old asserts
  test/integration/src/py/test_liquidity_pools.py
Due: none

[ui] added tutorials to footer and made responsive
  ui/app/src/components/shared/Footer/Footer.vue
Due: none

added signer changes
  go.mod
  proto/sifnode/dispensation/v1/tx.proto
  proto/sifnode/dispensation/v1/types.proto
  x/dispensation/client/cli/tx.go
  x/dispensation/handler_test.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/distributionRecords_test.go
  x/dispensation/keeper/distributions_test.go
  x/dispensation/keeper/distrubtions_test.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/keeper/grpc_querier.go
  x/dispensation/keeper/msg_server.go
  x/dispensation/keeper/userclaim.go
  x/dispensation/keeper/userclaim_test.go
  x/dispensation/types/errors.go
  x/dispensation/types/events.go
  x/dispensation/types/keys.go
  x/dispensation/types/msgs.go
  x/dispensation/types/records.go
  x/dispensation/types/tx.pb.go
  x/dispensation/types/types.pb.go
  x/dispensation/utils/input.json
  x/dispensation/utils/parser.go
  x/dispensation/utils/parser_test.go
  x/dispensation/utils/verfifysigner.go
Due: server

added signer changes
  x/dispensation/utils/addrs.json
Due: server

added signer changes
  x/dispensation/client/rest/tx.go
Due: server

Enable build on push for develop
  .github/workflows/ui-stack.yml
  ui/scripts/build-stack-backend-docker.sh
  ui/scripts/latest
  ui/scripts/run-stack-backend-from-scratch.sh
  ui/scripts/run-stack-save-default-snapshot.sh
Due: none

Use develop as master branch
  ui/scripts/latest
Due: none

Update latest to master
  ui/scripts/latest
Due: none

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
