Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

Updated copy when there is an error creating a pool
  ui/app/src/views/CreatePoolPage.vue
Due: none

add one test case.
  x/ethbridge/handler_test.go
Due: server

add more unit test.
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/types/expected_keepers.go
Due: server

one more test case.
  x/ethbridge/keeper/keeper_test.go
Due: server

fix wrong variable.
  x/ethbridge/keeper/keeper_test.go
Due: server

add unit test for admin not set.
  x/ethbridge/keeper/keeper_test.go
  x/oracle/keeper/adminAccount.go
  x/oracle/keeper/adminAccount_test.go
Due: server

[ui] sort balanaces alphabetically and then numerically
  ui/app/src/views/PegListingPage.vue
Due: none

--wip-- [skip ci]
  ui/core/src/entities/Amount.test.ts
  ui/core/src/entities/Amount.ts
  ui/core/src/entities/AssetAmount.test.ts
  ui/core/src/entities/AssetAmount.ts
  ui/core/src/hooks/addLiquidityCalculator.test.ts
  ui/core/src/hooks/addLiquidityCalculator.ts
  ui/core/src/hooks/removeLiquidityCalculator.test.ts
  ui/core/src/hooks/removeLiquidityCalculator.ts
  ui/core/src/hooks/swapCalculator.test.ts
  ui/core/src/hooks/swapCalculator.ts
  ui/core/src/hooks/useField.ts
  ui/core/src/hooks/utils.ts
  ui/core/src/utils/decimalShift.test.ts
  ui/core/src/utils/decimalShift.ts
  ui/core/src/utils/format.test.ts
  ui/core/src/utils/format.ts
Due: ui

TF Fixes.
  deploy/terraform/providers/aws/cluster_autoscaler.tf
  deploy/terraform/providers/aws/variables.tf
Due: none

Additional fixes/cleanup.
  deploy/terraform/providers/aws/cluster_autoscaler.tf
  deploy/terraform/providers/aws/main.tf
  deploy/terraform/providers/aws/variables.tf
Due: none

Started the work required to setup the frontend to speak to the new backend intra.
  .github/workflows/pinata-build-deploy-ui.yml
  ui/core/src/config.devnet.json
Due: ui

Added rake tasks for executing vault secret based deployments and added ebrelayer.yml to .github folder to work on creating action for pipeline
  .github/workflows/ebrelayer.yml
  deploy/helm/ebrelayer/templates/deployment.yaml
  deploy/helm/ebrelayer/templates/secret.yaml
  deploy/helm/ebrelayer/values.yaml
  deploy/rake/cluster.rake
Due: none

Removed the CLP config from the sifnoded deployment chart.
  deploy/helm/sifnode/templates/deployment.yaml
  deploy/helm/sifnode/values.yaml
  deploy/rake/cluster.rake
Due: none

Fix copy for asym pooling on new pool. Updated tests
  ui/app/src/views/CreatePoolPage.vue
  ui/core/src/hooks/addLiquidityCalculator.test.ts
Due: ui

made modifications to make it use existing github secrets and new github secrets to execute pipeline
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

made modifications to make it use existing github secrets and new github secrets to execute pipeline
  .github/workflows/ebrelayer.yml
Due: none

made modifications to make it use existing github secrets and new github secrets to execute pipeline
  .github/workflows/integrationtest2.yml
Due: none

Updated add liquidity tests
  ui/core/src/hooks/addLiquidityCalculator.ts
Due: ui

made modifications to make it use existing github secrets and new github secrets to execute pipeline
  .github/workflows/ebrelayer.yml
  .github/workflows/integrationtest1.yml
Due: none

made modifications to make it use existing github secrets and new github secrets to execute pipeline
  deploy/rake/cluster.rake
Due: none

Fix tests for new pool pooling
  ui/core/src/hooks/addLiquidityCalculator.test.ts
Due: ui

change logic to pull kubeconfig
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

updated kubeconfig pull
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

updated kubeconfig pull
  deploy/rake/cluster.rake
Due: none

--wip-- [skip ci]
  ui/core/src/hooks/swapCalculator.test.ts
  ui/core/src/hooks/swapCalculator.ts
Due: ui

added tx
  x/clp/client/cli/tx.go
Due: server

[ui] sort balances in a more readable way
  ui/app/src/views/PegListingPage.vue
Due: none

Upgrade handler.
  app/app.go
Due: none
