Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

modified to pull using region in vault path
  .github/workflows/ebrelayer.yml
Due: none

modified to pull using region in vault path
  deploy/rake/cluster.rake
Due: none

added eu swingset to certmanager to test that deployment
  .github/workflows/cert-manager.yml
Due: none

updates
  .github/workflows/cert-manager.yml
Due: none

updates
  .github/workflows/cert-manager.yml
  deploy/rake/cluster.rake
Due: none

all environments added for swingset for cert-manager deployment
  .github/workflows/cert-manager.yml
Due: none

added devnet clusters to the cert-mananger yaml
  .github/workflows/cert-manager.yml
Due: none

updated the code again to have right region for certmanager in us
  .github/workflows/cert-manager.yml
Due: none

added vault pipeline and set it for eu and us as test
  .github/workflows/vault.yml
  deploy/rake/cluster.rake
Due: none

added vault pipeline and set it for eu and us as test
  deploy/helm/vault/override-values.yaml
  deploy/rake/cluster.rake
Due: none

added vault pipeline and set it for eu and us as test
  .github/workflows/vault.yml
  deploy/helm/vault/override-values.yaml
  deploy/rake/cluster.rake
Due: none

commit parse
  scripts/demos/dispensation/airdrop.sh
  x/dispensation/alias.go
  x/dispensation/client/cli/tx.go
  x/dispensation/types/errors.go
  x/dispensation/types/msgs.go
  x/dispensation/utils/parser.go
  x/dispensation/utils/parser_test.go
Due: server

added vault pipeline and set it for eu and us as test
  deploy/rake/cluster.rake
Due: none

added vault pipeline and set it for eu and us as test
  .github/workflows/vault.yml
Due: none

updated vault deployment
  deploy/rake/cluster.rake
Due: none

trying to get vault to deploy into eu and read key
  deploy/rake/cluster.rake
Due: none

fixing vault deployment
  .github/workflows/vault.yml
Due: none

fixing vault deployment
  deploy/rake/cluster.rake
Due: none

Added parsing , and additional validation for input addresses
  scripts/demos/dispensation/airdrop.sh
  x/dispensation/client/cli/tx.go
Due: server

update vault kms key
  .github/workflows/vault.yml
Due: none

Added parsing , and additional validation for input addresses
  scripts/demos/dispensation/airdrop.sh
  x/dispensation/client/cli/tx.go
  x/dispensation/types/errors.go
  x/dispensation/utils/verfifysigner.go
Due: server

updated helm chart for vault to use role arn
  .github/workflows/vault.yml
  deploy/helm/vault/override-values.yaml
  deploy/rake/cluster.rake
Due: none

updated
  deploy/rake/cluster.rake
Due: none

Update tests to use wei
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
Due: ui

--wip-- [skip ci]
  ui/app/src/components/shared/AssetList.vue
  ui/app/src/components/shared/utils.ts
  ui/app/src/views/PegAssetPage.vue
  ui/app/src/views/PegListingPage.vue
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
Due: ui

Fix issue with decimals in other amount
  ui/app/src/components/actionsPanel/ActionsPanel.vue
  ui/app/src/components/shared/utils.ts
  ui/app/src/views/CreatePoolPage.vue
  ui/app/src/views/SwapPage.vue
  ui/core/src/entities/Amount.test.ts
  ui/core/src/entities/Amount.ts
  ui/core/src/hooks/addLiquidityCalculator.ts
  ui/core/src/utils/format.ts
Due: ui

Add newlines
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
Due: ui
