Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

Make a singleton
  ui/core/src/api/utils/SifClient/TendermintSocketPoll.ts
Due: ui

Add slash to apiUrl
  ui/core/src/api/utils/SifClient/TendermintSocketPoll.ts
Due: ui

Update RPC url
  ui/core/src/api/ClpService/ClpService.test.ts
  ui/core/src/api/ClpService/ClpService.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
  ui/core/src/api/SifService/SifService.test.ts
  ui/core/src/api/SifService/SifService.ts
  ui/core/src/api/utils/SifClient/SifClient.ts
  ui/core/src/api/utils/SifClient/SifUnsignedClient.ts
  ui/core/src/api/utils/SifClient/TendermintSocketPoll.ts
  ui/core/src/test/utils/services.ts
  ui/core/src/utils/parseConfig.ts
Due: ui

Fix test urls
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
Due: ui

Remove log
  ui/core/src/api/utils/SifClient/TendermintSocketPoll.ts
Due: ui

init solution.
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/cosmos_test.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/replay.go
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/parser_test.go
  cmd/ebrelayer/txs/registry.go
  cmd/ebrelayer/txs/relayToCosmos.go
  cmd/ebrelayer/txs/relayToEthereum.go
  cmd/ebrelayer/types/events.go
  go.mod
  go.sum
Due: none

Preserve MetaMask wallet state across page reloads
  ui/core/src/api/EthereumService/EthereumService.ts
Due: ui

Adding basic test
  ui/core/src/api/utils/SifClient/TendermintSocketPoll.test.ts
  ui/core/src/api/utils/SifClient/TendermintSocketPoll.ts
Due: ui

Show TVL in menu bar
  ui/app/src/components/shared/Header.vue
  ui/app/src/components/shared/TVL.vue
  ui/core/src/assets.sifchain.localnet.json
Due: ui

Cross session peg notification
  ui/app/src/App.vue
  ui/app/src/components/shared/AssetList.vue
  ui/app/src/components/shared/Icon.vue
  ui/app/src/hooks/useInitialize.ts
  ui/app/src/hooks/useSubscrition.ts
  ui/app/src/views/PegListingPage.vue
  ui/app/src/views/utils/toConfirmState.ts
  ui/core/src/actions/peg/index.ts
  ui/core/src/actions/peg/subscribeToUnconfirmedPegTxs.ts
  ui/core/src/actions/peg/utils/subscribeToTx.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
  ui/core/src/api/EthbridgeService/PegTxEventEmitter.ts
  ui/core/src/api/EthbridgeService/types.ts
  ui/core/src/api/EthbridgeService/utils/confirmTx.ts
  ui/core/src/entities/Transaction.ts
  ui/core/src/store/index.ts
  ui/core/src/store/tx.ts
Due: ui

add assets
  ui/app/src/assets/keplr.jpg
  ui/app/src/assets/metamask.png
Due: none

Improve sif service to load wallet data on page load
  ui/core/src/api/EthereumService/EthereumService.test.ts
  ui/core/src/api/SifService/SifService.ts
Due: ui

refactor components, improve UI
  ui/app/src/App.vue
  ui/app/src/components/actionsPanel/ActionsPanel.vue
  ui/app/src/components/wallet/BalanceTable.vue
  ui/app/src/components/wallet/EtheriumWalletPanel.vue
  ui/app/src/components/wallet/KeplrWalletPanel.vue
  ui/app/src/components/wallet/WithWallet.vue
  ui/app/src/components/wallet/useWalletButton.ts
Due: none

related changes and improvements
  ui/app/src/views/CreatePoolPage.vue
  ui/app/src/views/RemoveLiquidityPage.vue
  ui/app/src/views/SwapPage.vue
Due: none

fix keplr
  ui/core/src/api/SifService/SifService.ts
Due: ui

remove temp change
  ui/core/src/assets.sifchain.localnet.json
Due: ui

Make trigger icon asterisk
  ui/app/src/components/shared/Tooltip.vue
  ui/app/src/views/PegListingPage.vue
Due: none

use zap log in x module.
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/cosmos_test.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/replay.go
  cmd/ebrelayer/txs/relayToCosmos.go
  cmd/ebrelayer/txs/relayToEthereum.go
  x/ethbridge/handler.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/types/expected_keepers.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
Due: server

Initial support for DataDog.
  deploy/helm/datadog/values.yaml
Due: none

Release 20210301075600.
  app/app.go
Due: none

Doc tweaks/cleanup.
  docs/chainOps/k8s/README.md
  docs/chainOps/k8s/tutorials/betanet.md
  docs/chainOps/standalone/tutorials/betanet.md
Due: none

Support for flags.
  deploy/rake/genesis.rake
Due: none

Support for supplying an IP address to bind to.
  deploy/docker/mainnet/docker-compose.yml
  deploy/docker/mainnet/entrypoint.sh
  deploy/rake/genesis.rake
Due: none

Further documentation tweaks.
  docs/chainOps/standalone/tutorials/betanet.md
Due: none

core/EthBridgeService: manual lock and approve gas limits
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
Due: ui

show full address
  ui/app/src/components/wallet/EtheriumWalletPanel.vue
Due: none

reuse common variable.
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/txs/parser_test.go
  x/ethbridge/keeper/keeper_test.go
  x/oracle/keeper/keeper_test.go
Due: server

remove comment.
  cmd/ebrelayer/relayer/ethereum.go
Due: none

fix merge conflict
  ui/core/src/api/SifService/SifService.ts
Due: ui

remove fatal when zap log exit.
  cmd/ebrelayer/main.go
  cmd/ebrelayer/replay.go
  x/ethbridge/handler.go
Due: server

app/createPoolPage: window.history.back
  ui/app/src/views/CreatePoolPage.vue
Due: none

remove sync.
  cmd/ebrelayer/replay.go
  x/ethbridge/handler.go
Due: server

[ui] fix back button, if not history state, then set default back button
  ui/app/src/views/CreatePoolPage.vue
Due: none

up suggested gas cost by 50%
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

update gas limit to proper amount
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

Documentation and rake updates for testnet.
  deploy/docker/mainnet/docker-compose.yml
  deploy/docker/scripts/entrypoint.sh
  deploy/docker/testnet/docker-compose.yml
  deploy/rake/genesis.rake
  docs/chainOps/k8s/tutorials/betanet.md
  docs/chainOps/k8s/tutorials/testnet.md
  docs/chainOps/standalone/tutorials/betanet.md
  docs/chainOps/standalone/tutorials/testnet.md
Due: none

update gas limit for bulk whitelist and limit updating
  smart-contracts/scripts/bulkSetTokenLockBurnLimit.js
Due: none

do not truncate keplr address
  ui/app/src/components/wallet/KeplrWalletPanel.vue
Due: none

Handle logout/address change in Keplr
  ui/core/src/api/SifService/SifService.ts
Due: ui

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
