Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

copy changes for rewards. updated rewards url and other misc fixes
  ui/app/src/components/navigation/PanelNav.vue
  ui/app/src/components/shared/Text/SubHeading.vue
  ui/app/src/router/index.ts
  ui/app/src/views/RewardsPageNew.vue
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
Due: ui

generate grpc gateway
  proto/sifnode/clp/v1/querier.proto
  proto/sifnode/oracle/v1/types.proto
  third_party/proto/google/api/annotations.proto
  third_party/proto/google/api/http.proto
  third_party/proto/google/api/httpbody.proto
  x/clp/module.go
  x/clp/types/querier.pb.go
  x/clp/types/querier.pb.gw.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/prophecy.go
  x/oracle/types/status.go
  x/oracle/types/types.pb.go
Due: server

ignore google in buf lint
  buf.yaml
Due: none

temporarily taking prettier checks on json files out to get build working
  ui/package.json
Due: none

Improve ceth handing in integration tests
  test/integration/src/py/conftest.py
  test/integration/src/py/test_ebrelayer_replay.py
  test/integration/src/py/test_eth_transfers.py
  test/integration/src/py/test_peggy_fees.py
  test/integration/src/py/test_utilities.py
Due: none

ui/app:Menu,Router,StakeDelegatePage: rename stake delegate page
  ui/app/src/components/shared/Menu.vue
  ui/app/src/router/index.ts
  ui/app/src/views/StakeDelegatePage.vue
Due: none

ui/RewardsPage, Menu: URL fix, fetch on navigate
  ui/app/src/components/shared/Menu.vue
  ui/app/src/views/RewardsPage.vue
  ui/app/src/views/RewardsPageNew.vue
Due: none

added dispensation genesisstate
  tools/sifgen/common/types/genesis.go
Due: none

updated for debugging
  deploy/rake/cluster.rake
Due: none

ui/utilities.scss, RewardsPage.vue: atomic display, info button, copy, layout
  ui/app/src/scss/utilities.scss
  ui/app/src/views/RewardsPage.vue
Due: none

ui/app/RewardsPage: better datastatus check
  ui/app/src/views/RewardsPage.vue
Due: none

handle when rewards api returns null for amount
  ui/app/src/views/RewardsPage.vue
Due: none

reenable rewards page load data logic
  ui/app/src/views/RewardsPage.vue
Due: none

Fix test
  ui/app/src/components/shared/ModalView.vue
  ui/e2e/index.test.js
Due: none

Removed pause
  ui/e2e/index.test.js
Due: none

updated the code for geenrating key ring to what worked locally
  .github/workflows/create-governance-request.yml
  deploy/rake/cluster.rake
Due: none

fixed the key generation, disabled build since its not working right now for the cli and just using the compiled one in the repo with gorun
  .github/workflows/create-governance-request.yml
Due: none

Check balances after test
  ui/app/src/components/currencyfield/BalanceField.vue
  ui/e2e/index.test.js
Due: none

Rowan label
  ui/e2e/index.test.js
Due: none

fixed the key generation, disabled build since its not working right now for the cli and just using the compiled one in the repo with gorun
  .github/workflows/create-governance-request.yml
  deploy/rake/cluster.rake
Due: none

fixed missing deposit
  .github/workflows/create-governance-request.yml
Due: none

Updates for how the block explorer is run.
  deploy/helm/block-explorer/Chart.yaml
  deploy/helm/block-explorer/templates/deployment.yaml
  deploy/helm/block-explorer/values.yaml
  deploy/rake/cluster.rake
Due: none

Initial helm chart for MongoDB.
  deploy/helm/mongodb/values.yaml
Due: none

updated block height calculation
  deploy/rake/cluster.rake
Due: none

added logic for rpc selction for block time and adjusted block height calculation
  deploy/rake/cluster.rake
Due: none

fixed upgrade height being decimal
  deploy/rake/cluster.rake
Due: none

added separate file for state-transitions
  app/app.go
  app/app_test.go
  app/export.go
  upgrades/poolChange.go
  upgrades/release-20210501000000-AddDispensation.go
  upgrades/setupHandlers.go
Due: none

modified scripts to test upgrade
  scripts/init-upgrade.sh
  scripts/upgrade.sh
Due: none

Explorer config map was referencing the old API URL value.
  deploy/helm/block-explorer/templates/configmap.yaml
Due: none

Fix expected keepers interface changes.
  proto/sifnode/ethbridge/v1/query.proto
  x/ethbridge/alias.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/querier.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/module.go
  x/ethbridge/types/claim.go
  x/ethbridge/types/expected_keepers.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/querier.go
Due: server

Move eth prophecy query to query server.
  x/ethbridge/keeper/grpc_query.go
  x/ethbridge/keeper/querier.go
Due: server

Register query and msg servers.
  x/ethbridge/module.go
Due: none

Migrate create eth bridge claim to msg server and proto
  proto/sifnode/ethbridge/v1/tx.proto
  x/ethbridge/handler.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/msg_server.go
  x/ethbridge/module.go
  x/ethbridge/test_common.go
  x/ethbridge/types/claim.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/query.pb.go
  x/ethbridge/types/tx.pb.go
  x/oracle/types/types.pb.go
Due: server

Migrate lock to msg server
  simapp/app.go
  x/ethbridge/alias.go
  x/ethbridge/handler.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/msg_server.go
  x/ethbridge/module.go
  x/ethbridge/types/codec.go
  x/ethbridge/types/expected_keepers.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/types.go
Due: server

Migrate lock handler to msg server
  x/ethbridge/handler.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/msg_server.go
  x/ethbridge/types/msgs.go
Due: server

Migrate update white list validator handler to msg server
  x/ethbridge/handler.go
  x/ethbridge/keeper/msg_server.go
  x/ethbridge/types/msgs.go
Due: server

add all lp query
  go.mod
  proto/sifnode/clp/v1/querier.proto
  x/clp/client/cli/query.go
  x/clp/genesis_test.go
  x/clp/keeper/grpc_query.go
  x/clp/keeper/keeper_test.go
  x/clp/test/test_common.go
  x/clp/types/querier.pb.go
  x/clp/types/querier.pb.gw.go
  x/ethbridge/types/query.pb.go
  x/oracle/keeper/validatorWhiteList_test.go
  x/oracle/types/types.pb.go
Due: server

Migrate ceth rescue / receive account handlers to msg server
  proto/sifnode/ethbridge/v1/tx.proto
  x/ethbridge/handler.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/msg_server.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/tx.pb.go
Due: server

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
