Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

Update adr-amount.md
  ui/docs/decisions/adr-amount.md
Due: none

add script to get ceth of ethbridge.
  scripts/get-ethbridge-ceth.sh
Due: none

Update adr-display.md
  ui/docs/decisions/adr-display.md
Due: none

Use the cluster name in the role and policy name.
  deploy/terraform/providers/aws/volumes.tf
Due: none

Format lib working
  ui/core/package.json
  ui/core/src/utils/format.test.ts
  ui/core/src/utils/format.ts
  ui/yarn.lock
Due: ui

Tidy up config
  ui/core/src/utils/format.ts
Due: ui

Tidy up exponent shift
  ui/core/src/utils/format.ts
Due: ui

add missed fmt package.
  cmd/ebrelayer/relayer/cosmos.go
Due: none

Tidy up exponentiate
  ui/core/src/utils/format.test.ts
  ui/core/src/utils/format.ts
Due: ui

Apply prettier
  ui/core/src/entities/Amount.test.ts
  ui/core/src/entities/AssetAmount_.test.ts
Due: ui

Use rewritten asset
  ui/core/src/actions/ethWallet.test.ts
  ui/core/src/api/ClpService/ClpService.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
  ui/core/src/api/EthereumService/EthereumService.ts
  ui/core/src/api/EthereumService/utils/ethereumUtils.ts
  ui/core/src/api/IWalletService.ts
  ui/core/src/api/utils/SifClient/toPool.ts
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
  ui/core/src/config.ts
  ui/core/src/entities/Asset.ts
  ui/core/src/entities/AssetAmount.test.ts
  ui/core/src/entities/AssetAmount_.test.ts
  ui/core/src/entities/AssetAmount_.ts
  ui/core/src/entities/Asset_.ts
  ui/core/src/entities/Pair.test.ts
  ui/core/src/entities/Pool.test.ts
  ui/core/src/entities/Pool.ts
  ui/core/src/entities/index.ts
  ui/core/src/entities/utils/isToken.ts
  ui/core/src/hooks/addLiquidityCalculator.test.ts
  ui/core/src/hooks/swapCalculator.test.ts
  ui/core/src/hooks/useField.test.ts
  ui/core/src/hooks/utils.test.ts
  ui/core/src/hooks/utils.ts
  ui/core/src/utils/format.test.ts
  ui/core/src/utils/parseConfig.test.ts
  ui/core/src/utils/parseConfig.ts
Due: ui

Add coverage to prettier ignore
  ui/.prettierignore
Due: none

Update linting
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
Due: ui

Integration tests - added test for sifchain transactions while the relayers are down
  test/integration/src/py/test_ebrelayer_restart.py
  test/integration/src/py/test_utilities.py
Due: none

remove fmt print.
  cmd/ebrelayer/relayer/cosmos.go
Due: none

app/ConfirmationDialog: prettier
  ui/app/src/components/confirmationDialog/ConfirmationDialog.vue
Due: none

add eks change to 3 asg
  deploy/terraform/providers/aws/main.tf
  deploy/terraform/providers/aws/variables.tf
Due: none

remove main group
  deploy/terraform/providers/aws/main.tf
Due: none

remove additional va
  deploy/terraform/providers/aws/variables.tf
Due: none

update json whitelist with new tokens
  smart-contracts/data/whitelist_mainnet_update_19_mar_2021.json
Due: none

Documentation updates
  smart-contracts/LimitUpdating.md
Due: none

ui/core/{ethereum,sifchain}.mainnet
  ui/core/src/assets.ethereum.mainnet.json
  ui/core/src/assets.sifchain.mainnet.json
Due: ui

core/configs: prettier
  ui/core/src/assets.ethereum.mainnet.json
  ui/core/src/assets.sifchain.mainnet.json
Due: ui

ui/app/ConfirmationModal{,Signing}: fix issue with modal
  ui/app/src/components/shared/ConfirmationModal.vue
  ui/app/src/components/shared/ConfirmationModalSigning.vue
Due: none

[ui] don't allow for asymetrical when creating a pool for the first time
  ui/app/src/views/CreatePoolPage.vue
Due: none

Get Amount working for all formulae
  ui/core/src/entities/Amount.ts
  ui/core/src/entities/formulae.calculateExternalExternalSwapResult.test.ts
  ui/core/src/entities/formulae.calculateLiquidityProviderFee.test.ts
  ui/core/src/entities/formulae.calculateLiquidityProviderUnits.test.ts
  ui/core/src/entities/formulae.calculatePriceImpact.test.ts
  ui/core/src/entities/formulae.calculateWithdrawal.test.ts
  ui/core/src/entities/formulae.ts
  ui/core/src/entities/index.ts
  ui/core/src/hooks/swapCalculator.ts
  ui/core/src/utils/format.test.ts
Due: ui

Fix precision tests
  ui/core/src/entities/Amount.test.ts
  ui/core/src/entities/Amount.ts
  ui/core/src/entities/AssetAmount_.test.ts
  ui/core/src/entities/AssetAmount_.ts
Due: ui

Unit tests pass
  ui/core/src/entities/Amount.test.ts
  ui/core/src/entities/Amount.ts
  ui/core/src/entities/AssetAmount.test.ts
  ui/core/src/entities/AssetAmount.ts
  ui/core/src/entities/AssetAmount_.test.ts
  ui/core/src/entities/AssetAmount_.ts
  ui/core/src/entities/LiquidityProvider.ts
  ui/core/src/entities/Pair.ts
  ui/core/src/entities/Pool.test.ts
  ui/core/src/entities/Pool.ts
  ui/core/src/entities/formulae.ts
  ui/core/src/hooks/removeLiquidityCalculator.ts
Due: ui

Autoscaler fixes.
  deploy/terraform/providers/aws/cluster_autoscaler.tf
Due: none

Add the correct label when you have zero amounts on new pool
  ui/app/src/views/CreatePoolPage.vue
  ui/core/src/hooks/addLiquidityCalculator.ts
Due: ui

Don't allow the same token to be swapped to itself
  ui/app/src/hooks/useCurrencyFieldState.ts
  ui/app/src/views/CreatePoolPage.vue
Due: none

Update testnet.md
  docs/chainOps/k8s/tutorials/testnet.md
Due: none

add depends_on vpc
  deploy/terraform/providers/aws/main.tf
Due: none

fix null account.
  x/ethbridge/keeper/cethReceiverAccount.go
Due: server

add unit test.
  x/ethbridge/keeper/cethReceiverAccount_test.go
Due: server

core/assets: daofi, lina, tshp, b20, akro, rfuel, rly
  ui/core/src/assets.ethereum.mainnet.json
  ui/core/src/assets.sifchain.mainnet.json
Due: ui

Update LimitUpdating.md
  smart-contracts/LimitUpdating.md
Due: none

core: c prefix
  ui/core/src/assets.sifchain.mainnet.json
Due: ui

remove genesis setting.
  cmd/sifnoded/genaccounts.go
  cmd/sifnoded/main.go
  docs/peggy/Peggy-Ceth-Account-Set.md
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/types/test_common.go
Due: server

core/sifchain.mainnet: add "c" prefix
  ui/core/src/assets.sifchain.mainnet.json
Due: ui

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
