Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

Show separate message for out of gas errors
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/views/utils/toConfirmState.ts
  ui/core/src/api/SifService/parseTxFailure.ts
  ui/core/src/entities/Errors.ts
  ui/core/src/entities/Transaction.ts
Due: ui

fix dialog title
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
Due: none

fix types
  ui/app/src/types.ts
Due: none

add cluster autoscaler
  deploy/terraform/providers/aws/cluster_autoscaler.tf
  deploy/terraform/providers/aws/main.tf
  deploy/terraform/providers/aws/volumes.tf
Due: none

add check for slice operation.
  cmd/ebrelayer/relayer/cosmos.go
Due: none

fix out of gas popup, improve UI
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/components/confirmationDialog/ConfirmationDialog.vue
  ui/app/src/views/SwapPage.vue
Due: none

allow no wallet on chain connection
  ui/core/src/api/SifService/SifService.ts
Due: ui

Send events instead of notifications
  ui/app/src/components/Notifications.vue
  ui/core/src/actions/clp/index.ts
  ui/core/src/actions/peg/index.ts
  ui/core/src/actions/wallet.ts
  ui/core/src/api/NotificationService/NotificationService.ts
Due: ui

Add todo list
  ui/core/src/api/NotificationService/NotificationService.ts
Due: ui

Move Notifications to a service
  ui/core/src/actions/peg/index.ts
  ui/core/src/actions/wallet.ts
  ui/core/src/api/EthereumService/EthereumService.ts
  ui/core/src/api/EthereumService/utils/getMetamaskProvider.ts
  ui/core/src/api/NotificationService/NotificationService.ts
  ui/core/src/api/NotificationService/index.ts
  ui/core/src/api/index.ts
  ui/core/src/api/utils/Notifications.ts
Due: ui

Remove comments
  ui/core/src/actions/clp/index.ts
  ui/core/src/actions/peg/index.ts
  ui/core/src/actions/wallet.ts
Due: ui

Remove comment
  ui/core/src/api/NotificationService/NotificationService.ts
Due: ui

View component works
  ui/app/src/components/Notifications.vue
  ui/core/src/actions/peg/index.ts
  ui/core/src/api/NotificationService/NotificationService.ts
  ui/core/src/store/index.ts
  ui/core/src/store/notifications.ts
Due: ui

subscribe without connect
  ui/core/src/api/EthereumService/EthereumService.ts
Due: ui

Docker compose run flags.
  docs/chainOps/standalone/tutorials/betanet.md
  docs/chainOps/standalone/tutorials/testnet.md
Due: none

Minor tweak.
  docs/chainOps/standalone/tutorials/betanet.md
Due: none

Re-enable logging.
  deploy/helm/datadog/values.yaml
Due: none

Update connections
  ui/app/src/components/Notifications.vue
  ui/core/src/actions/clp/index.ts
  ui/core/src/actions/ethWallet.ts
  ui/core/src/api/EthereumService/EthereumService.ts
  ui/core/src/api/EthereumService/utils/getMetamaskProvider.ts
Due: ui

Fix tests
  ui/core/src/actions/ethWallet.test.ts
Due: ui

Update tests
  ui/core/src/actions/ethWallet.test.ts
Due: ui

Remove assertions
  ui/core/src/actions/ethWallet.test.ts
Due: ui

[ui] wip on showing a warning during pooling
  ui/app/src/components/shared/FatInfoTable.vue
  ui/app/src/views/CreatePoolPage.vue
Due: none

add sh scripts
  scripts/init-noInstall.sh
  scripts/init-upgrade.sh
  scripts/upgrade.sh
Due: none

add upgrade handler
  Makefile
  app/app.go
Due: none

upgrade handler related changes
  x/clp/alias.go
  x/clp/client/cli/query.go
  x/clp/keeper/calculations.go
  x/clp/keeper/liquidityprovider.go
  x/clp/keeper/querier.go
  x/clp/keeper/table_test.go
  x/clp/types/querier.go
Due: server

add tests
  test/integration/src/py/upgrade_check_shares.py
  test/integration/src/py/upgrade_test_table.py
  test/test-tables/pool_units.json
  test/test-tables/pool_units_after_upgrade.json
Due: none

fix FE formula
  ui/core/src/entities/formulae.ts
Due: ui

fix warnings
  app/app.go
Due: none

fix import warning
  app/app.go
Due: none

fix FE tests
  ui/core/src/entities/Pool.test.ts
  ui/core/src/hooks/addLiquidityCalculator.test.ts
Due: ui

fix fe test
  ui/core/src/hooks/addLiquidityCalculator.test.ts
Due: ui

Doc cleanup/updates.
  docs/chainOps/k8s/tutorials/betanet.md
  docs/chainOps/k8s/tutorials/testnet.md
  docs/chainOps/standalone/tutorials/betanet.md
  docs/chainOps/standalone/tutorials/testnet.md
Due: none

Update adr-amount.md
  ui/docs/adr-amount.md
Due: none

added rollback script
  app/app.go
  scripts/init-upgrade.sh
  scripts/rollback.sh
  scripts/upgrade.sh
Due: none

added make file
  Makefile
Due: none

fixed command
  scripts/rollback.sh
Due: none

Refactored upgrade handler
  app/app.go
  x/clp/alias.go
  x/clp/keeper/pool.go
Due: server

Tweaks for removing the RPC service.
  deploy/docker/mainnet/docker-compose.yml
  deploy/helm/sifnode/templates/service.yaml
  deploy/helm/sifnode/values.yaml
Due: none

added export
  app/app.go
Due: none

Provide a list of pre-configured pools/liquidity providers when conducting genesis.
  cmd/sifgen/main.go
  deploy/helm/sifnode/templates/deployment.yaml
  deploy/helm/sifnode/values.yaml
  deploy/rake/cluster.rake
  tools/sifgen/common/types/genesis.go
  tools/sifgen/genesis/genesis.go
  tools/sifgen/node/node.go
Due: none

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
