Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

changed mongo strategy to recreate, changed anchore scan by pan to not fail pipeline but print report
  deploy/helm/mongodb/values.yaml
  deploy/rake/cluster.rake
Due: none

Fix lack of fee error
  ui/core/src/services/SifService/SifService.ts
Due: ui

Fix toLowerCase of undefined error
  ui/core/src/services/EthbridgeService/EthbridgeService.ts
  ui/core/src/usecases/peg/subscribeToUnconfirmedPegTxs.ts
Due: ui

Update transfer fees
  ui/core/src/services/SifService/SifService.test.ts
  ui/core/src/services/SifService/SifService.ts
Due: ui

Comment out incomplete tests for 42 upgrade
  test/integration/execute_integration_tests_against_test_chain.sh
Due: none

No need to check against breaking changes to protobuf files since we've never released any
  Makefile
Due: none

Fixed tests to use corrrect values for lock and burn
  cmd/ebrelayer/txs/parser_test.go
  x/ethbridge/keeper/querier_test.go
Due: server

Turned off liquidity tests
  test/integration/src/py/failing_test_liquidity_pools.py
Due: none

Remove unused genesis state
  app/app.go
Due: none

Added passing tests to integration tests
  test/integration/execute_integration_tests_against_test_chain.sh
Due: none

Remove unused fields
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/ethereum.go
Due: none

Remove commented code and clean up unused arguments
  cmd/ebrelayer/main.go
Due: none

Add comments
  cmd/ebrelayer/main.go
Due: none

Clean up ClaimType code in RelayProphecyClaimToEthereum
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

Fixed problem with go switch case
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

[ui] wip footer
  ui/app/src/components/layout/Layout.vue
  ui/app/src/components/shared/Footer/Footer.vue
Due: none

Updated working and failing tests for peggy42
  test/integration/execute_integration_tests_against_test_chain.sh
  test/integration/src/py/fail_test_ebrelayer_restart.py
  test/integration/src/py/fail_test_liquidity_pools.py
  test/integration/src/py/fail_test_peggy_fees.py
  test/integration/src/py/test_ebrelayer_replay.py
Due: none

Add dynamic mantissa
  ui/core/src/entities/Amount.test.ts
  ui/core/src/entities/Amount.ts
  ui/core/src/utils/format.test.ts
  ui/core/src/utils/format.ts
  ui/core/src/utils/parseDynamicMantissa.test.ts
Due: ui

fix ethereum sub and remove comments in main.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/ethereum.go
Due: none

[ui] adds netloss calculation to single pool page
  ui/app/src/components/shared/utils.ts
  ui/app/src/views/SinglePool.vue
Due: none

ui/app/AnimatedConfirmation: remove errant s
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
Due: none

added documentation and tests
  x/dispensation/handler.go
  x/dispensation/handler_test.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/types/keys.go
Due: server

[ui] fixed spacing issues on pool page
  ui/app/src/views/SinglePool.vue
Due: none

[ui] adds grey background to view button on pool page. adds negative sign correctly on pool page
  ui/app/src/views/SinglePool.vue
Due: none

added documentation and tests
  input.json
  x/dispensation/claims.md
  x/dispensation/utils/addrs.json
  x/dispensation/utils/parser_test.go
Due: server

WIP
  ui/e2e/index.test.js
Due: none

added documentation and tests
  x/dispensation/claims.md
Due: server

renamed signer
  x/dispensation/handler.go
  x/dispensation/keeper/querier_test.go
  x/dispensation/types/msgs.go
Due: server

Update test and fix bug
  ui/app/src/components/shared/DetailsPanelPool.vue
  ui/app/src/views/CreatePoolPage.vue
  ui/e2e/index.test.js
Due: none

[ui] correct working implementation of mailchimp
  ui/app/src/components/shared/Footer/Footer.vue
  ui/package.json
  ui/yarn.lock
Due: none

Remove only
  ui/e2e/index.test.js
Due: none

Upgrade lodash
  ui/package.json
  ui/yarn.lock
Due: none

Upgrade url-parse
  ui/core/package.json
  ui/package.json
  ui/yarn.lock
Due: none

[ui] more work in progress styles for new footer
  ui/app/src/components/Notifications.vue
  ui/app/src/components/shared/Footer/Footer.vue
  ui/app/src/components/shared/SifButton.vue
Due: none

sifnoded keys delete stops and waits for user input, so provide it the output from $(yes)
  test/integration/sifchain_run_ebrelayer.sh
Due: none

Remove debug printf, fixed unused parameter name
  x/oracle/genesis.go
Due: none

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
