Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

re-added tidal
  ui/core/src/assets.ethereum.mainnet.json
Due: ui

ui/core: added new tokens to devnet, testnet configs
  ui/core/src/assets.ethereum.sifchain-devnet.json
  ui/core/src/assets.ethereum.sifchain-testnet.json
Due: ui

add shiba inu and doge killer
  smart-contracts/data/whitelist_mainnet_update_10_may_2021.json
Due: none

update mainnet json to add SHIB and LEASH
  ui/core/src/assets.ethereum.mainnet.json
Due: ui

add ui configs for shib and leash on sifchain
  ui/core/src/assets.sifchain.mainnet.json
Due: ui

We now get a transaction across the bridge from ethereum to sifchain
  app/app.go
  cmd/ebrelayer/txs/relayToCosmos.go
Due: none

Update tag in docker build script
  ui/scripts/build-stack-backend-docker.sh
Due: none

Add bail if fail to bash
  ui/scripts/build-stack-backend-docker.sh
Due: none

added rake task for inserting vault secrets from a tmp file
  deploy/rake/cluster.rake
Due: none

updated to not print vault secrets
  deploy/rake/cluster.rake
Due: none

Update tag to commit
  scripts/latest
Due: none

minor formatting changes
  go.mod
  proto/sifnode/dispensation/v1/tx.proto
  x/dispensation/handler.go
  x/dispensation/handler_test.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/keeper/msg_server.go
  x/dispensation/test/test_common.go
  x/dispensation/types/keys.go
  x/dispensation/types/msgs.go
  x/dispensation/types/tx.pb.go
Due: server

remove extra arguments.
  test/integration/src/py/test_utilities.py
Due: none

flag can't parse int directly.
  x/ethbridge/client/cli/tx.go
Due: server

add type conversion missed.
  x/ethbridge/client/cli/tx.go
Due: server

Fix api path
  ui/app/src/components/Notifications.vue
Due: none

Rename Api -> Service, Action-> Usecase
  ui/app/src/components/shared/TVL.vue
  ui/app/src/hooks/useCore.ts
  ui/core/src/config.ts
  ui/core/src/services/index.ts
  ui/core/src/usecases/clp/index.ts
  ui/core/src/usecases/ethWallet.ts
  ui/core/src/usecases/index.ts
  ui/core/src/usecases/peg/index.ts
  ui/core/src/usecases/peg/subscribeToUnconfirmedPegTxs.ts
  ui/core/src/usecases/peg/utils/subscribeToTx.ts
  ui/core/src/usecases/wallet.ts
  ui/core/src/utils/parseConfig.ts
Due: ui

Rename everything
  ui/app/src/components/Notifications.vue
  ui/app/src/components/tokenSelector/SelectTokenDialog.vue
  ui/app/src/components/wallet/EtheriumWalletPanel.vue
  ui/app/src/components/wallet/KeplrWalletPanel.vue
  ui/app/src/hooks/useCore.ts
  ui/app/src/hooks/useInitialize.ts
  ui/app/src/views/CreatePoolPage.vue
  ui/app/src/views/PegAssetPage.vue
  ui/app/src/views/PegListingPage.vue
  ui/app/src/views/RemoveLiquidityPage.vue
  ui/app/src/views/SwapPage.vue
  ui/core/src/services/index.ts
  ui/core/src/usecases/clp/index.ts
  ui/core/src/usecases/ethWallet.test.ts
  ui/core/src/usecases/ethWallet.ts
  ui/core/src/usecases/peg/index.ts
  ui/core/src/usecases/peg/subscribeToUnconfirmedPegTxs.ts
  ui/core/src/usecases/peg/utils/subscribeToTx.ts
  ui/core/src/usecases/wallet.ts
Due: ui

wizard script to create vault governance entries
  deploy/scripts/create_governance_vault_entry
Due: none

Move hooks -> clp
  ui/core/src/index.ts
  ui/core/src/usecases/clp/calculators/addLiquidityCalculator.test.ts
  ui/core/src/usecases/clp/calculators/addLiquidityCalculator.ts
  ui/core/src/usecases/clp/calculators/index.ts
  ui/core/src/usecases/clp/calculators/removeLiquidityCalculator.test.ts
  ui/core/src/usecases/clp/calculators/removeLiquidityCalculator.ts
  ui/core/src/usecases/clp/calculators/swapCalculator.test.ts
  ui/core/src/usecases/clp/calculators/swapCalculator.ts
  ui/core/src/usecases/clp/calculators/useField.test.ts
  ui/core/src/usecases/clp/calculators/useField.ts
  ui/core/src/usecases/clp/calculators/utils.test.ts
  ui/core/src/usecases/clp/calculators/utils.ts
Due: ui

Rename ClpService
  ui/app/src/views/RemoveLiquidityPage.vue
  ui/core/src/services/index.ts
  ui/core/src/usecases/clp/index.ts
  ui/core/src/usecases/wallet.ts
Due: ui

Fix deep dependency in app
  ui/app/src/views/PegAssetPage.vue
  ui/core/src/index.ts
Due: ui

EthService
  ui/core/src/usecases/ethWallet.ts
  ui/core/src/usecases/peg/index.ts
Due: ui

SifService
  ui/README.md
  ui/core/src/services/index.ts
  ui/core/src/usecases/clp/index.ts
  ui/core/src/usecases/peg/index.ts
  ui/core/src/usecases/wallet.ts
Due: ui

EthbridgeService
  ui/core/src/services/index.ts
  ui/core/src/usecases/peg/index.ts
  ui/core/src/usecases/peg/subscribeToUnconfirmedPegTxs.ts
Due: ui

EventBus
  ui/app/src/components/Notifications.vue
  ui/core/src/usecases/clp/index.ts
  ui/core/src/usecases/ethWallet.ts
  ui/core/src/usecases/peg/index.ts
  ui/core/src/usecases/peg/subscribeToUnconfirmedPegTxs.ts
  ui/core/src/usecases/peg/utils/subscribeToTx.ts
  ui/core/src/usecases/wallet.ts
Due: ui

forgot to add index file
  ui/core/src/services/index.ts
Due: ui

Fix test for build
  ui/core/src/usecases/ethWallet.test.ts
Due: ui

Update README
  ui/README.md
Due: none

[ui] remove negative sign on arb opps on stats page
  ui/app/src/components/poolStats/PoolStatsListItem.vue
Due: none

Setup blank default genesis in ethbridge so that InitGensis runs and installs module account
  app/app.go
  proto/sifnode/ethbridge/v1/types.proto
  x/ethbridge/module.go
  x/ethbridge/types/types.pb.go
  x/oracle/types/genesis.go
Due: server

Move wallet actions to folder
  ui/app/src/components/wallet/EtheriumWalletPanel.vue
  ui/app/src/components/wallet/KeplrWalletPanel.vue
  ui/app/src/views/PegAssetPage.vue
  ui/app/src/views/PegListingPage.vue
  ui/core/src/usecases/index.ts
  ui/core/src/usecases/wallet/eth.test.ts
  ui/core/src/usecases/wallet/eth.ts
  ui/core/src/usecases/wallet/sif.ts
Due: ui

Remove redundant type
  ui/core/src/usecases/index.ts
Due: ui

Create LICENSE
  LICENSE
Due: none

Add dev container for VSCode
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

disabled dispensation
  x/dispensation/abci.go
  x/dispensation/handler.go
Due: server

disabled dispensation
  x/dispensation/abci.go
Due: server

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
