Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

disable run of cert manager to see if that is steping on the ebrelayer
  .github/workflows/ebrelayer.yml
Due: none

disable run of cert manager to see if that is steping on the ebrelayer
  deploy/rake/cluster.rake
Due: none

disable run of cert manager to see if that is steping on the ebrelayer
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

Fix up service tests
  ui/core/src/api/ClpService/ClpService.test.ts
  ui/core/src/api/EthereumService/EthereumService.test.ts
  ui/core/src/api/EthereumService/utils/ethereumUtils.ts
  ui/core/src/test/utils/getTestingToken.ts
Due: ui

Fix service more tests
  ui/core/src/api/ClpService/ClpService.test.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
  ui/core/src/api/SifService/SifService.test.ts
Due: ui

Fix up vue code
  ui/app/src/components/currencyfield/BalanceField.vue
  ui/app/src/views/CreatePoolPage.vue
  ui/app/src/views/PegAssetPage.vue
  ui/app/src/views/SinglePool.vue
  ui/app/src/views/SwapPage.vue
  ui/core/src/utils/format.ts
Due: ui

remove coverage and update assets
  ui/.prettierignore
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
Due: ui

Added checks for multisig key
  app/app.go
  go.mod
  scripts/demos/dispensation/airdrop.sh
  scripts/init.sh
  x/clp/types/codec.go
  x/dispensation/client/cli/flags.go
  x/dispensation/client/cli/tx.go
  x/dispensation/client/rest/tx.go
  x/dispensation/handler.go
  x/dispensation/types/errors.go
  x/dispensation/types/msgs.go
Due: server

Added Validate
  x/dispensation/client/cli/tx.go
  x/dispensation/types/msgs.go
Due: server

e2e: isomorphic fetch for onchain queries
  ui/e2e/package.json
  ui/e2e/yarn.lock
Due: none

e2e: keplr fix new wallet connection
  ui/e2e/index.test.js
  ui/e2e/keplr.js
Due: none

ui/chains: chainId sifchain -> sifchain-local
  ui/chains/cosmos/run.sh
  ui/core/src/config.localnet.json
Due: ui

ui/core: SifService: add connecting, suggest chain if not chainId = sifchain
  ui/core/src/api/SifService/SifService.ts
Due: ui

ui/core: testnet chainId fix
  ui/core/src/config.devnet.json
  ui/core/src/config.testnet.json
Due: ui

ui/core: config: sifchain-devnet, sifchain-testnet
  ui/core/src/config.devnet.json
  ui/core/src/config.testnet.json
Due: ui

Improvements to integration tests for multiple tokens
  test/integration/src/py/burn_lock_functions.py
  test/integration/src/py/conftest.py
  test/integration/src/py/test_bulk_transfers_to_ethereum.py
  test/integration/src/py/test_utilities.py
Due: none

Removed code that was just used for debugging
  test/integration/src/py/test_cleanup.py
Due: none

cleanup app.go, delete sifcli
  app/app.go
  app/app_test.go
  app/encoding.go
  app/export.go
  app/genesis.go
  cmd/sifnodecli/Dockerfile
  cmd/sifnoded/maincli.go
  go.mod
  go.sum
  tools/sifgen/common/common.go
  tools/sifgen/key/key.go
  tools/sifgen/network/network.go
  tools/sifgen/node/node.go
  tools/sifgen/utils/cli.go
Due: none

[ui] fix column widths on stats page
  ui/app/src/components/poolStats/PoolStatsListHeader.vue
  ui/app/src/components/poolStats/PoolStatsListItem.vue
Due: none

updated path for integration tests
  .github/workflows/cert-manager.yml
  .github/workflows/ebrelayer.yml
Due: none

updated path for integration tests
  .github/workflows/ebrelayer.yml
Due: none

updated integration test path
  .github/workflows/ebrelayer.yml
Due: none

trying to get integrations to work
  .github/workflows/ebrelayer.yml
Due: none

Added script to run through the steps of inflating tokens in an environment
  test/integration/inflate_tokens.sh
Due: none

modified to pull using region in vault path
  .github/workflows/ebrelayer.yml
  deploy/helm/ebrelayer/values.yaml
  deploy/rake/cluster.rake
Due: none

modified to pull using region in vault path
  deploy/rake/cluster.rake
Due: none
