Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

app/rewardsPage: pretty
  ui/app/src/views/RewardsPage.vue
Due: none

app/RowanPrice: prettier
  ui/app/src/components/shared/RowanPrice.vue
Due: none

app/RowanPrice: polling types
  ui/app/src/components/shared/RowanPrice.vue
Due: none

Fix up linting
  ui/core/src/entities/Amount.test.ts
  ui/core/src/entities/AssetAmount_.test.ts
  ui/core/src/entities/AssetAmount_.ts
  ui/core/src/entities/Asset_.ts
Due: ui

Integration tests - better handling of rowan costs
  test/integration/src/py/conftest.py
  test/integration/src/py/test_liquidity_pools.py
Due: none

Integration tests now update ui json files for tokens
  smart-contracts/scripts/test/updateAddresses.js
  ui/core/src/assets.sifchain.sandpit.json
  ui/core/src/tokenwhitelist.sandpit.json
Due: ui

Update documentation
  test/integration/README.md
  test/integration/build_ui_token_files.sh
Due: none

Added ui/core/src/assets.ethereum.sandpit.json for ui
  ui/core/src/assets.ethereum.sandpit.json
Due: ui

init solution.
  cmd/sifnoded/genaccounts.go
  cmd/sifnoded/main.go
  x/ethbridge/alias.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/module_client.go
  x/ethbridge/handler.go
  x/ethbridge/keeper/cethReceiverAccount.go
  x/ethbridge/keeper/cethReceiverAccount_test.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/test_common.go
  x/ethbridge/types/codec.go
  x/ethbridge/types/events.go
  x/ethbridge/types/expected_keepers.go
  x/ethbridge/types/genesis.go
  x/ethbridge/types/keys.go
  x/ethbridge/types/msgs.go
Due: server

Fix for max buttons with guided liquidity
  ui/app/src/views/CreatePoolPage.vue
Due: none

not set endian, use default.
  cmd/ebrelayer/relayer/cosmos.go
Due: none

temp solution to get builds to pass
  ui/app/src/views/CreatePoolPage.vue
Due: none

fix all unit tests.
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/keeper/test_common.go
Due: server

Copy assets.ethereum.sandpit.json to assets.ethereum.ropsten.json (assets.ethereum.ropsten.json is what the ui uses)
  ui/core/src/assets.ethereum.ropsten.json
Due: ui

Update assets.sifchain.* to use "sifchain" in the network field and lower-case the symbols.
  smart-contracts/scripts/test/updateAddresses.js
  ui/core/src/assets.ethereum.ropsten.json
  ui/core/src/assets.sifchain.sandpit.json
Due: ui

core/config: change ethereum.ropsten -> ethereum.sandpit
  ui/core/src/assets.ethereum.ropsten.json
  ui/core/src/config.ts
Due: ui

core/Asset: less noisy, msg if token in balance but not list
  ui/core/src/entities/Asset.ts
Due: ui

core/asset.ts: pretty
  ui/core/src/entities/Asset.ts
Due: ui

deploy/helm/block-explorer/congfig: add all tokens, update coingeckoId
  deploy/helm/block-explorer/templates/configmap.yaml
Due: none

Improved test name
  test/integration/src/py/test_ebrelayer_restart.py
Due: none

add doc for ceth receiver account.
  docs/peggy/Peggy-Ceth-Account-Set.md
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix a wrong log.
  cmd/ebrelayer/relayer/cosmos.go
Due: none

changed color for fat infotable when a warning is bad
  ui/app/src/components/shared/FatInfoTable.vue
Due: none

Update Display API
  ui/docs/decisions/adr-display.md
Due: none

Add forceSign
  ui/docs/decisions/adr-display.md
Due: none

Tidy up options
  ui/docs/decisions/adr-display.md
Due: none

Make Explicit the allowed combinations of options
  ui/docs/decisions/adr-display.md
Due: none

Default number
  ui/docs/decisions/adr-display.md
Due: none

New colors for warning labels on pooling
  ui/app/src/components/shared/FatInfoTable.vue
  ui/app/src/views/CreatePoolPage.vue
Due: none

Make sure mantissa and totalLength dont clash
  ui/docs/decisions/adr-display.md
Due: none

Update adr-display.md
  ui/docs/decisions/adr-display.md
Due: none

Update adr-amount.md
  ui/docs/decisions/adr-amount.md
Due: none
