Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

add build command for sifnoded and fix install
  Makefile
  app/app.go
  app/app_test.go
Due: none

remove some fmt.Sprintf
  app/export.go
Due: none

Add sif address for the user-run faucet
  test/integration/distribute_tokens.sh
Due: none

Token distribution for test deployments should also set the ceth limit
  test/integration/distribute_tokens.sh
Due: none

ui/e2e: config
  ui/e2e/config.js
Due: none

ui/e2e: peg
  ui/e2e/index.test.js
  ui/e2e/metamask.js
Due: none

ui/e2e: ethereum, index: advanceEthBlocks
  ui/e2e/ethereum.js
  ui/e2e/index.test.js
Due: none

ui/e2e/utils: wait for page by extensionId
  ui/e2e/utils.js
Due: none

Updated test comment
  test/integration/src/py/token_setup.py
Due: none

ui/e2e: 5000
  ui/e2e/config.js
Due: none

update unpeg fee
  ui/core/src/actions/peg/index.ts
Due: ui

fix module.go
  x/clp/module.go
Due: none

ui/app/RewardsPageNew: prompt for wallet, get data on connect,
  ui/app/src/views/RewardsPageNew.vue
Due: none

update ceth fee in the integration tests
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
Due: ui

Test improvements for ceth rescue
  test/integration/sifchain_start_daemon.sh
  test/integration/src/py/conftest.py
  test/integration/src/py/pytest_utilities.py
  test/integration/src/py/test_peggy_fees.py
  test/integration/src/py/test_utilities.py
Due: none

Updated bridge bank contract addresses.
  ui/core/src/config.devnet.json
  ui/core/src/config.testnet.json
Due: ui

Added the upgrade handler.
  app/app.go
Due: none

Removed the old upgrade handlers.
  app/app.go
Due: none

Documentation updates for ceth rescue
  docs/peggy/Peggy-Ceth-Account-Set.md
Due: none

Spread attributes on button
  ui/app/src/components/shared/SifButton.vue
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
  ui/e2e/index.test.js
Due: ui

Linting
  ui/core/src/config.localnet.json
Due: ui

--wip-- [skip ci]
  ui/e2e/config.js
Due: none

Update script to include linebreak
  ui/core/scripts/updateLocalTestAddresses.js
Due: none

Fix pretty-quick to avoid lint issues
  ui/package.json
Due: none

Add js to file type
  ui/package.json
Due: none

fix calculations
  x/clp/keeper/calculations.go
Due: server

changed vault, certmanager, and ebrelayer pipelines to use manual deploymnent and changed logic to only deploy environmenst specified and ebrelayer to take image specified in the tag
  .github/workflows/cert-manager.yml
  .github/workflows/ebrelayer.yml
  .github/workflows/vault.yml
  deploy/rake/cluster.rake
Due: none

Pegging
  ui/app/src/components/shared/Tab.vue
  ui/app/src/components/shared/Tabs.vue
  ui/app/src/views/PegListingPage.vue
  ui/core/src/config.localnet.json
  ui/e2e/index.test.js
  ui/e2e/metamask.js
Due: ui

Remove undeclared method
  x/clp/module.go
Due: none

Rename metamask function
  ui/e2e/index.test.js
  ui/e2e/metamask.js
Due: none

fk lint
  ui/core/src/assets.ethereum.localnet.json
Due: ui

Update comments
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
  ui/e2e/ethereum.js
  ui/e2e/index.test.js
Due: ui

linting
  ui/core/src/config.localnet.json
Due: ui

Add empty list check, do not proceed with init genesis if whitelist is empty
  x/clp/genesis.go
Due: none

Fix lintin
  ui/core/src/assets.ethereum.localnet.json
Due: ui

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
