Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

more
  test/integration/test_sandpit_clp.sh
  test/integration/test_swingset.sh
Due: none

Update adr-amount.md
  ui/docs/decisions/adr-amount.md
Due: none

Draft implementation of Amount API
  ui/core/src/entities/Amount.ts
Due: ui

change the color of icon when there is a pooling warning
  ui/app/src/components/shared/icons/Exclaimation.vue
  ui/app/src/views/CreatePoolPage.vue
Due: none

more tweaks
  .github/workflows/go.yml
  .github/workflows/node.yml
  codecov.yml
Due: none

fix names
  .github/workflows/go.yml
  .github/workflows/node.yml
Due: none

restore flag
  test/integration/sifchain_start_ebrelayer.sh
Due: none

Add scripts to mint and distribute tokens on sandpit
  smart-contracts/package.json
  smart-contracts/scripts/test/contractUtilities.js
  smart-contracts/scripts/test/mintTestnetErowan.js
  smart-contracts/scripts/test/mintTestnetTokens.js
  smart-contracts/scripts/test/sendBurnTx.js
  smart-contracts/scripts/test/sendLockTx.js
  smart-contracts/scripts/test/sifchainUtilities.js
  smart-contracts/scripts/test/whitelistedTokens.js
  smart-contracts/truffle-config.js
  test/integration/README.md
  test/integration/environment_setup.sh
  test/integration/src/py/conftest.py
  test/integration/src/py/test_utilities.py
  test/integration/src/py/token_distribution.py
  test/integration/src/py/token_refresh.py
Due: none

Integration tests added updateAddresses.js to help support frontend code
  smart-contracts/scripts/test/updateAddresses.js
Due: none

Remove debug logging
  smart-contracts/scripts/test/contractUtilities.js
Due: none

Integration tests need to deal with numbers that default to base 16
  smart-contracts/scripts/test/mintTestnetTokens.js
  smart-contracts/scripts/test/whitelistedTokens.js
Due: none

Removed a local geth setting from truffle-config.js
  smart-contracts/truffle-config.js
Due: none

Added implementation for AssetAmount
  ui/core/src/entities/Amount.test.ts
  ui/core/src/entities/Amount.ts
  ui/core/src/entities/AssetAmount_.test.ts
  ui/core/src/entities/AssetAmount_.ts
  ui/core/src/entities/Asset_.ts
Due: ui

Update NodeOperatorList.md
  docs/general/NodeOperatorList.md
Due: none

add new changes for default variable value
  deploy/terraform/providers/aws/main.tf
  deploy/terraform/providers/aws/variables.tf
Due: none

conditionally show pooling warning if not guided
  ui/app/src/views/CreatePoolPage.vue
Due: none

guided liquidity on by default
  ui/app/src/views/CreatePoolPage.vue
  ui/core/src/assets.ethereum.localnet.json
Due: ui

minor fixes to formatting
  cmd/ebrelayer/txs/relayToCosmos.go
  cmd/ebrelayer/txs/relayToEthereum.go
  x/ethbridge/handler.go
  x/oracle/keeper/keeper.go
Due: server

app/RewardsPage: copy change, 2 decimals
  ui/app/src/views/RewardsPage.vue
Due: none

app/keplrWalletPanel: icon position fix
  ui/app/src/components/wallet/KeplrWalletPanel.vue
Due: none

[ui] fix for warnings on guided liquidity
  ui/app/src/views/CreatePoolPage.vue
  ui/core/src/hooks/addLiquidityCalculator.ts
Due: ui

Documentation cleanup and moved a README.md section to script.
  test/integration/README.md
  test/integration/distribute_tokens.sh
  test/integration/src/py/token_distribution.py
Due: none

Add a prettier workflow step
  .github/workflows/prettier.yml
Due: none

Removed debug logging
  test/integration/src/py/test_eth_transfers.py
Due: none

app/RowanPrice: pollData(), set interval
  ui/app/src/components/shared/RowanPrice.vue
Due: none

Adjust rowan values to give enough rowan to tests
  test/integration/src/py/test_eth_transfers.py
Due: none

remove prettier yaml in favor of script
  .github/workflows/prettier.yml
  ui/package.json
Due: none

Update assets.ethereum.ropsten.json to include all the assets from mainnet with all the token addresses from sandpit
  smart-contracts/scripts/test/updateAddresses.js
  ui/core/src/assets.ethereum.ropsten.json
  ui/core/src/tokenwhitelist.sandpit.json
Due: ui

Adjusted rowan in liquidity pool test
  test/integration/src/py/test_liquidity_pools.py
Due: none

remove fmt print.
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/replay.go
  cmd/ebrelayer/txs/parser.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/types/msgs.go
  x/oracle/types/prophecy.go
Due: server

Restructure scripts
  ui/package.json
Due: none

Remove bad script
  ui/package.json
Due: none

Add prettier igore
  ui/.prettierignore
  ui/app/src/components/currencyPairPanel/Index.vue
  ui/app/src/components/currencyfield/CurrencyField.vue
  ui/app/src/components/shared/Checkbox.vue
  ui/app/src/components/shared/RaisedPanelRow.vue
  ui/app/src/views/CreatePoolPage.vue
  ui/core/src/hooks/addLiquidityCalculator.test.ts
  ui/core/src/hooks/addLiquidityCalculator.ts
Due: ui

Add ignore for contracts
  ui/.prettierignore
Due: none

app/RowanPrice: unmounted
  ui/app/src/components/shared/RowanPrice.vue
Due: none

Update config
  ui/.prettierrc
Due: none
