Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

updated rake tasks and converted to ruby method
  deploy/rake/cluster.rake
Due: none

updated rake tasks and converted to ruby method
  .github/workflows/cert-manager.yml
  .github/workflows/create-governance-request.yml
  .github/workflows/ebrelayer.yml
  .github/workflows/vault.yml
Due: none

Don't allow peg on unsupported network
  ui/app/src/components/shared/SifButton.stories.ts
  ui/app/src/components/shared/SifButton.vue
  ui/app/src/views/PegAssetPage.vue
  ui/app/src/views/PegListingPage.vue
  ui/core/src/actions/ethWallet.ts
  ui/core/src/store/wallet.ts
Due: ui

Update comments
  ui/app/src/views/PegAssetPage.vue
  ui/core/src/actions/ethWallet.ts
Due: ui

Guard against transaction
  ui/core/src/actions/ethWallet.ts
  ui/core/src/actions/peg/index.ts
  ui/core/src/actions/utils/index.ts
Due: ui

Remove redundant chainId
  ui/core/src/api/EthereumService/EthereumService.ts
  ui/core/src/store/wallet.ts
Due: ui

Fix TransactionStatus not being returned
  ui/core/src/actions/peg/index.ts
Due: ui

added ceth and random currency to faucet add and request tests
  smart-contracts/combined.log
  test/integration/.gitignore
  test/integration/sandpit.log
  test/integration/src/py/test_liquidity_pools.py
Due: none

ignore log files
  test/integration/.gitignore
Due: none

removed old rake functions that were in bash and python as all have been converted to ruby. Converetd vault and cert manager to ruby
  deploy/rake/cluster.rake
Due: none

Backend works after snapshot
  ui/chains/cosmos/snapshot.sh
  ui/chains/ethereum/snapshot.sh
  ui/chains/peggy/snapshot.sh
  ui/chains/snapshots/eth.tar.gz
  ui/chains/snapshots/peggy.tar.gz
  ui/chains/snapshots/sif.tar.gz
  ui/package.json
  ui/scripts/run-stack-pause.sh
  ui/scripts/run-stack-save-default-snapshot.sh
Due: none

yarn test should work
  ui/chains/peggy/config.sh
  ui/chains/peggy/launch.sh
  ui/chains/peggy/start.sh
  ui/chains/sif/config.toml
  ui/chains/snapshots/eth.tar.gz
  ui/chains/snapshots/peggy.tar.gz
  ui/chains/snapshots/sif.tar.gz
  ui/scripts/run-stack-backend-from-scratch.sh
  ui/scripts/run-stack-backend.sh
  ui/scripts/run-stack-save-default-snapshot.sh
Due: none

Include config in stack
  ui/chains/sif/config.sh
  ui/chains/snapshots/eth.tar.gz
  ui/chains/snapshots/peggy.tar.gz
  ui/chains/snapshots/sif.tar.gz
Due: none

Add shebang to everything
  ui/chains/credentials.sh
  ui/chains/eth/config.sh
  ui/chains/eth/launch.sh
  ui/chains/eth/migrate.sh
  ui/chains/eth/pause.sh
  ui/chains/eth/snapshot.sh
  ui/chains/eth/start.sh
  ui/chains/peggy/config.sh
  ui/chains/peggy/launch.sh
  ui/chains/peggy/pause.sh
  ui/chains/peggy/revert.sh
  ui/chains/peggy/snapshot.sh
  ui/chains/sif/build.sh
  ui/chains/sif/config.sh
  ui/chains/sif/migrate.sh
  ui/chains/sif/pause.sh
  ui/chains/sif/revert.sh
  ui/chains/sif/snapshot.sh
  ui/chains/sif/start.sh
Due: none

Add shebang
  ui/chains/eth/revert.sh
Due: none

Add logging
  ui/chains/eth/revert.sh
  ui/chains/peggy/revert.sh
  ui/chains/sif/revert.sh
Due: none

Update paths and include SC build folder
  ui/chains/peggy/build.sh
  ui/chains/peggy/config.sh
  ui/chains/peggy/revert.sh
  ui/chains/peggy/snapshot.sh
  ui/chains/peggy/start.sh
  ui/chains/post_migrate.sh
  ui/chains/snapshots/eth.tar.gz
  ui/chains/snapshots/peggy.tar.gz
  ui/chains/snapshots/sif.tar.gz
  ui/package.json
Due: none

Add contract build
  ui/chains/peggy/revert.sh
  ui/chains/peggy/snapshot.sh
  ui/chains/snapshots/eth.tar.gz
  ui/chains/snapshots/peggy.tar.gz
  ui/chains/snapshots/peggy_build.tar.gz
  ui/chains/snapshots/sif.tar.gz
Due: none

Supply environment to ebrelayer
  .github/workflows/playwright-ui.yml
Due: none

Run instant stack for every test
  ui/core/package.json
  ui/core/src/api/ClpService/ClpService.spec.ts
  ui/core/src/api/ClpService/ClpService.test.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.spec.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
  ui/core/src/api/EthereumService/EthereumService.spec.ts
  ui/core/src/api/SifService/SifService.spec.ts
  ui/core/src/api/SifService/getKeplrProvider.ts
  ui/core/src/test/utils/getWeb3Provider.ts
  ui/core/src/test/utils/waitFor.ts
  ui/core/test/stack.ts
  ui/package.json
  ui/scripts/run-stack-backend.sh
  ui/yarn.lock
Due: ui

Revert "Run instant stack for every test"
  ui/core/package.json
  ui/core/src/api/ClpService/ClpService.spec.ts
  ui/core/src/api/ClpService/ClpService.test.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.spec.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
  ui/core/src/api/EthereumService/EthereumService.test.ts
  ui/core/src/api/SifService/SifService.test.ts
  ui/core/src/api/SifService/getKeplrProvider.ts
  ui/core/src/test/utils/getWeb3Provider.ts
  ui/core/src/test/utils/waitFor.ts
  ui/core/test/stack.ts
  ui/package.json
  ui/scripts/run-stack-backend.sh
  ui/yarn.lock
Due: ui

temp
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/replay.go
  cmd/ebrelayer/txs/relayToCosmos.go
  go.mod
  go.sum
  tools/sifgen/key/key.go
Due: none

more changes
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/relayToCosmos.go
  cmd/ebrelayer/types/ethEventBuffer.go
  cmd/ebrelayer/types/events.go
  tools/sifgen/sifgen.go
Due: none

more fixes
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/relayToCosmos.go
  tools/sifgen/key/key.go
  x/clp/client/rest/tx.go
Due: server

download modules
  go.mod
  go.sum
Due: none

dispensation fixes
  app/app.go
  app/app_test.go
  go.mod
  go.sum
  x/dispensation/client/cli/tx.go
  x/dispensation/handler.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/keeper.go
  x/dispensation/module.go
  x/dispensation/test/test_common.go
  x/dispensation/types/codec.go
  x/dispensation/types/expected_keepers.go
  x/dispensation/types/genesis.go
  x/dispensation/types/keys.go
  x/dispensation/types/msgs.go
  x/dispensation/utils/parser.go
  x/dispensation/utils/parser_test.go
  x/dispensation/utils/verfifysigner.go
Due: server

[ui] wip of new design elements
  ui/app/src/App.vue
  ui/app/src/components/Notifications.vue
  ui/app/src/components/shared/Footer/Footer.stories.ts
  ui/app/src/components/shared/Footer/Footer.vue
  ui/app/src/components/shared/Header/Header.stories.ts
  ui/app/src/components/shared/Header/Header.vue
  ui/app/src/components/shared/Menu/Menu.stories.ts
  ui/app/src/components/shared/Menu/Menu.vue
  ui/app/src/components/shared/Pill/Pill.stories.ts
  ui/app/src/components/shared/Pill/Pill.vue
  ui/app/src/components/shared/RowanPrice.vue
  ui/app/src/components/shared/SifInput.stories.ts
  ui/app/src/components/shared/TVL.vue
Due: none

[ui] return less decimals when maxxing swap
  ui/app/src/views/SwapPage.vue
Due: none

[ui] change rowan fee to a constant
  ui/app/src/views/utils/getMaxAmount.ts
Due: none

fix query, more fixes
  x/dispensation/client/cli/query.go
  x/dispensation/client/cli/tx.go
Due: server

Update distribute_tokens.sh
  test/integration/distribute_tokens.sh
Due: none

made both new tests standalone and added asserts
  smart-contracts/combined.log
  test/integration/sandpit.log
  test/integration/src/py/test_liquidity_pools.py
Due: none

First of many runbooks. This is how we should perform a treasury payment.
  docs/chainOps/runbooks/Pay-from-Treasury.md
Due: none

Tweaks.
  docs/chainOps/runbooks/Pay-from-Treasury.md
Due: none

Updates as per feedback.
  docs/chainOps/runbooks/Pay-from-Treasury.md
Due: none

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
