Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

getting ready for pr to develop pipeline works
  .github/workflows/create-governance-request.yml
Due: none

removed pyscript
  pyscript.py
Due: none

Fixes for ethbridge tests
  scripts/protocgen.sh
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/cethReceiverAccount_test.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/keeper/test_common.go
  x/ethbridge/test_common.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/query.pb.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/validatorWhiteList.go
  x/oracle/types/status.go
  x/oracle/types/types.pb.go
Due: server

ui/app/RewardsPage: Multiplier tooltip, decimals
  ui/app/src/views/RewardsPage.vue
Due: none

ui/app/Icon: remove multiple info-box-white
  ui/app/src/components/shared/Icon.vue
Due: none

Added function to filter invalid addresses
  x/dispensation/utils/parser_test.go
Due: server

add ibc & ibctransfer module
  app/app.go
Due: none

Add snapshot and revert mechanism
  ui/README.md
  ui/chains/cosmos/config.sh
  ui/chains/cosmos/pause.sh
  ui/chains/cosmos/revert.sh
  ui/chains/cosmos/run.sh
  ui/chains/cosmos/snapshot.sh
  ui/chains/cosmos/start.sh
  ui/chains/credentials.sh
  ui/chains/ethereum/config.sh
  ui/chains/ethereum/pause.sh
  ui/chains/ethereum/revert.sh
  ui/chains/ethereum/run.sh
  ui/chains/ethereum/snapshot.sh
  ui/chains/ethereum/start.sh
  ui/chains/peggy/config.sh
  ui/chains/peggy/pause.sh
  ui/chains/peggy/revert.sh
  ui/chains/peggy/run.sh
  ui/chains/peggy/snapshot.sh
  ui/chains/peggy/start.sh
  ui/chains/post_migrate.sh
  ui/chains/snapshots/eth.tar.gz
  ui/chains/snapshots/peggy.tar.gz
  ui/chains/snapshots/sif.tar.gz
  ui/core/src/assets.ethereum.localnet.json
  ui/package.json
  ui/scripts/run-stack-backend-from-scripts.sh
  ui/scripts/run-stack-backend.sh
  ui/scripts/run-stack-save-snapshot-from-scripts.sh
  ui/scripts/run-stack.sh
Due: ui

--wip-- [skip ci]
  ui/chains/cosmos/snapshot.sh
  ui/chains/snapshots/eth.tar.gz
  ui/chains/snapshots/peggy.tar.gz
  ui/chains/snapshots/sif.tar.gz
  ui/core/src/config.localnet.json
  ui/scripts/run-stack-save-snapshot-from-scripts.sh
Due: ui

[ui] minus fee when pegging rowan
  ui/app/src/views/CreatePoolPage.vue
  ui/app/src/views/SwapPage.vue
Due: none

Fix for deserialising ceth account
  x/ethbridge/keeper/cethReceiverAccount.go
Due: server

Fix for claim type enum out of range
  x/ethbridge/types/claim_type.go
Due: server

Fix for sdk error insufficient funds checks
  x/ethbridge/keeper/keeper_test.go
Due: server

Fix for oracle get validator deserialisation
  x/oracle/keeper/validatorWhiteList.go
Due: server

ui/app/variables.scss: buy, sell color variables
  ui/app/src/scss/variables.scss
Due: none

ui/app/PoolStatsListItem: formatting and apply arb color class
  ui/app/src/components/poolStats/PoolStatsListItem.vue
Due: none

Update StatsPage.vue
  ui/app/src/views/StatsPage.vue
Due: none

Clp genesis tests passing with fix to get validator deserialisation
  app/prefix.go
  cmd/ebrelayer/main.go
  x/clp/genesis.go
  x/clp/genesis_test.go
  x/clp/keeper/validatorWhitelist.go
  x/clp/test/test_common.go
Due: server

Fix clp test swap asserts error and nil
  x/clp/handler_test.go
Due: server

ui/e2e: some cleanup
  ui/e2e/index.test.js
Due: none

ui/app/PoolStatsListHeder: copy change per casey
  ui/app/src/components/poolStats/PoolStatsListHeader.vue
Due: none

Fix for some ethbridge handler tests
  x/ethbridge/handler_test.go
Due: server

Fix for some ethbridge handler tests
  x/ethbridge/test_common.go
Due: none

Update querier test
  x/ethbridge/keeper/querier_test.go
Due: server

Fix for clp querier tests
  x/clp/keeper/querier_test.go
Due: server

Fix clp querier tests by calling sifapp.SetConfig in test_common
  x/clp/keeper/common_test.go
Due: server

wip sorted balanaces
  ui/app/src/components/tokenSelector/SelectTokenDialog.vue
Due: none

ebrelayer test to test my credentials against kubeconfig generation not working in chainops repo
  .github/workflows/ebrelayer.yml
Due: none

removed debugging
  .github/workflows/ebrelayer.yml
Due: none

Make stack run on 8080 by default and fix cant find button error
  ui/app/src/App.vue
  ui/e2e/config.js
  ui/package.json
Due: none

added ruby step for doing aws config
  deploy/rake/cluster.rake
Due: none

Added userflow.md
  x/dispensation/UserFlow.md
Due: server

Adding debugging
  deploy/rake/cluster.rake
Due: none

Update UserFlow.md
  x/dispensation/UserFlow.md
Due: server

Added userflow.md
  x/dispensation/utils/parser_test.go
Due: server

Update parser_test.go
  x/dispensation/utils/parser_test.go
Due: server

refactored file name
  x/dispensation/utils/parser_test.go
Due: server

[ui] refactored max minus fee calculations
  ui/app/src/views/CreatePoolPage.vue
  ui/app/src/views/PegAssetPage.vue
  ui/app/src/views/SwapPage.vue
  ui/app/src/views/utils/getMaxAmount.ts
Due: none
