Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

updated the rake task for anchore scan added another to scan by path
  deploy/rake/cluster.rake
Due: none

updated the anchore scan by path
  deploy/rake/cluster.rake
Due: none

ui/app: RewardsPage: loader, rm claimsReward fn()
  ui/app/src/views/RewardsPage.vue
Due: none

Version bump.
  version
Due: none

added another log search step
  deploy/rake/cluster.rake
  update_sifnode_chainops
Due: none

added claims and tests
  go.mod
  go.sum
  proto/sifnode/clp/v1/genesis.proto
  proto/sifnode/dispensation/v1/query.proto
  proto/sifnode/dispensation/v1/tx.proto
  proto/sifnode/dispensation/v1/types.proto
  x/dispensation/client/cli/query.go
  x/dispensation/client/cli/tx.go
  x/dispensation/genesis_test.go
  x/dispensation/handler.go
  x/dispensation/keeper/distributionRecords_test.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/keeper/grpc_querier.go
  x/dispensation/keeper/msg_server.go
  x/dispensation/keeper/querier.go
  x/dispensation/keeper/querier_test.go
  x/dispensation/keeper/userclaim.go
  x/dispensation/keeper/userclaim_test.go
  x/dispensation/test/test_common.go
  x/dispensation/types/codec.go
  x/dispensation/types/events.go
  x/dispensation/types/keys.go
  x/dispensation/types/msgs.go
  x/dispensation/types/querier.go
  x/dispensation/types/query.pb.go
  x/dispensation/types/records.go
  x/dispensation/types/tx.pb.go
  x/dispensation/types/types.pb.go
Due: server

Handler for 0.9.0-rc.1
  app/setupHandlers.go
Due: none

moved sifnode deploy wizard to deploy/scripts
  deploy/scripts/update_sifnode_chainops
Due: none

added claims and tests
  cmd/sifnoded/cmd/gentx.go
  cmd/sifnoded/cmd/oracle.go
  scripts/init.sh
  x/oracle/types/genesis.go
Due: none

added vault variables for cryptoeconomics template
  deploy/helm/cryptoeconomics/template.values.yaml
  deploy/helm/cryptoeconomics/templates/deployment.yaml
Due: none

logserach by contianer
  deploy/rake/cluster.rake
Due: none

ui/app/utils: temporarily point to CE server production
  ui/app/src/components/shared/utils.ts
Due: none

ui/app: rewardsPage, utils: endpoint update, order change
  ui/app/src/components/shared/utils.ts
  ui/app/src/views/RewardsPage.vue
Due: none

ui/app/Header: "This platform is not open to US users."
  ui/app/src/components/shared/Header/Header.vue
Due: none

fix a wrong address issue.
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/parser.go
Due: none

use GetValAddressFromKeyring api.
  cmd/ebrelayer/relayer/ethereum.go
Due: none

fix an issue for use val addreass as acc address.
  x/ethbridge/types/msgs.go
Due: server

Try new token.
  .github/workflows/node.yml
Due: none

Another place.
  .github/workflows/playwright-ui.yml
Due: none

Fix token
  .github/workflows/playwright-ui.yml
Due: none

added claim tx
  x/dispensation/client/cli/tx.go
  x/dispensation/client/rest/tx.go
Due: server

added tests for handler
  x/dispensation/client/cli/query.go
  x/dispensation/handler_test.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/keeper.go
  x/dispensation/module.go
Due: server

[ui] fix for sorting balances when they are all zero
  ui/app/src/views/utils/sortAssetAmount.ts
Due: none

[ui] fixed insuccient button warning when swapping
  ui/core/src/hooks/swapCalculator.ts
Due: ui

Fix typos
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

remove mutex lock
  x/ethbridge/keeper/msg_server.go
Due: server

ui/app/RewardsPage: nextRewardProjectedAPYOnTickets
  ui/app/src/views/RewardsPage.vue
Due: none

Improved integration test error message
  test/integration/src/py/test_utilities.py
Due: none

ui/app: copy and US users disable note
  ui/app/src/components/shared/Header/Header.vue
  ui/app/src/views/RewardsPage.vue
Due: none

add shiba inu and doge killer
  smart-contracts/data/whitelist_mainnet_update_10_may_2021.json
Due: none

update mainnet json to add SHIB and LEASH
  ui/core/src/assets.ethereum.mainnet.json
Due: ui

add ui configs for shib and leash on sifchain
  ui/core/src/assets.sifchain.mainnet.json
Due: ui

re-added tidal
  ui/core/src/assets.ethereum.mainnet.json
Due: ui

ui/core: added new tokens to devnet, testnet configs
  ui/core/src/assets.ethereum.sifchain-devnet.json
  ui/core/src/assets.ethereum.sifchain-testnet.json
Due: ui

Fix Discord link
  readme.md
Due: none

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
