Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

added log validation step and added a date value to the aws s3 upload so it doesn't overwrite whats there on subsequent runs with blank file
  deploy/rake/cluster.rake
Due: none

added testnet cluster to cert-manager pipeline
  .github/workflows/cert-manager.yml
Due: none

added vault pipelines for testnets
  .github/workflows/vault.yml
Due: none

added vault pipelines for testnets
  deploy/rake/cluster.rake
Due: none

cleaned vaule fixed uplaod comand
  .github/workflows/ebrelayer.yml
Due: none

added logic to not up load backup file if recovery key is not present in the output so it doesn't uplaod need less files on subsequent runs
  deploy/rake/cluster.rake
Due: none

Finished queries Changed Serialization Fixed Warnings
  go.mod
  scripts/demos/dispensation/airdrop.sh
  tools/sifgen/sifgen.go
  x/clp/client/cli/query.go
  x/clp/types/keys_test.go
  x/dispensation/client/cli/query.go
  x/dispensation/client/cli/tx.go
  x/dispensation/handler.go
  x/dispensation/handler_test.go
  x/dispensation/keeper/distribution.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/keeper_test.go
  x/dispensation/keeper/querier.go
  x/dispensation/types/codec.go
  x/dispensation/types/errors.go
  x/dispensation/types/events.go
  x/dispensation/types/keys.go
  x/dispensation/types/msgs.go
  x/dispensation/types/records.go
  x/dispensation/types/types.go
  x/ethbridge/keeper/keeper_test.go
Due: server

Finished queries Changed Serialization Fixed Warnings
  x/dispensation/utils/parser_test.go
  x/ethbridge/keeper/keeper_test.go
Due: server

Finished queries Changed Serialization Fixed Warnings
  x/ethbridge/keeper/keeper_test.go
Due: server

Fix workflow in CI
  .github/workflows/playwright-ui.yml
  ui/core/scripts/updateLocalTestAddresses.js
  ui/core/src/api/SifService/SifService.ts
  ui/core/src/assets.ethereum.localnet.json
  ui/e2e/.babelrc
  ui/e2e/index.test.js
  ui/e2e/keplr.js
  ui/e2e/package.json
  ui/e2e/scripts/test.sh
  ui/package.json
  ui/scripts/run-playwright-stack.sh
  ui/yarn.lock
Due: ui

Fix lint errors
  x/dispensation/test/test_common.go
  x/dispensation/types/querier.go
  x/dispensation/types/records.go
  x/dispensation/utils/parser_test.go
Due: server

fix typo
  x/dispensation/test/test_common.go
Due: none

Remove gitnoise
  ui/core/src/api/SifService/SifService.ts
Due: ui

remove gitnoise
  ui/core/scripts/updateLocalTestAddresses.js
Due: none

Fixed lint
  x/dispensation/test/test_common.go
  x/dispensation/types/records.go
  x/dispensation/utils/parser_test.go
Due: server

Fixed lint
  x/dispensation/types/records.go
Due: server

Fixed lint
  x/dispensation/client/cli/tx.go
  x/dispensation/handler.go
Due: server

prettier ignore
  ui/.prettierignore
  ui/core/src/assets.ethereum.localnet.json
Due: ui

redploy relayers in devnet
  .github/workflows/cert-manager.yml
Due: none

changed vault upload code a bit
  deploy/rake/cluster.rake
Due: none

added ebrelayer for testnet
  .github/workflows/ebrelayer.yml
Due: none

added ebrelayer for testnet
  .github/workflows/cert-manager.yml
Due: none

Updated devnet workflow.
  .github/workflows/release.yml
Due: none

remove abci (unused)
  x/clp/abci.go
Due: server

refactor duplicate logic
  x/clp/keeper/calculations.go
Due: server

remove begin/end blocker refs
  x/clp/module.go
Due: none

updated the ebrelayers for testnets
  .github/workflows/cert-manager.yml
Due: none

Update playwrite workflow
  .github/workflows/playwright-ui.yml
Due: none

updated testnet to testnet-20210324073200
  .github/workflows/ebrelayer.yml
Due: none

updated dev net image tag
  .github/workflows/ebrelayer.yml
Due: none

Get balance checking working
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
  ui/e2e/ethereum.js
  ui/e2e/index.test.js
  ui/e2e/sifchain.js
Due: ui

Updates for the new testnet TestNet.
  deploy/docker/scripts/entrypoint.sh
  deploy/docker/testnet/docker-compose.yml
  docs/chainOps/k8s/tutorials/testnet.md
  docs/chainOps/standalone/tutorials/testnet.md
Due: none

LInting
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
Due: ui

Documentation fixes.
  docs/chainOps/k8s/tutorials/testnet.md
Due: none
