Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

vault install adjustments
  deploy/rake/cluster.rake
Due: none

updated the code to change how vault init is being done
  deploy/rake/cluster.rake
Due: none

Remove only
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
Due: ui

Remove timetraveler
  ui/core/package.json
  ui/core/src/test/utils/getWeb3Provider.ts
  ui/yarn.lock
Due: ui

use useStack in jest
  ui/e2e/index.test.js
  ui/e2e/package.json
  ui/test/stack.ts
Due: none

Remove comment
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
Due: ui

Change comment
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
Due: ui

changed code to add some debugging to figure out where failure is occuring
  deploy/rake/cluster.rake
Due: none

Fix decimal places in listing
  ui/app/src/components/shared/utils.ts
Due: none

Remove balance restriction
  ui/app/src/components/tokenSelector/SelectTokenDialogSif.vue
Due: none

forgot to add to base units
  ui/app/src/components/shared/utils.ts
Due: none

Remove redundant code
  ui/app/src/components/shared/utils.ts
Due: none

use enum, more fixes
  go.mod
  proto/sifnode/dispensation/v1/types.proto
  x/dispensation/client/cli/tx.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/executors.go
  x/dispensation/types/records.go
  x/dispensation/types/types.pb.go
  x/ethbridge/client/cli/query.go
  x/ethbridge/client/module_client.go
  x/ethbridge/module.go
  x/ethbridge/types/tx.pb.go
  x/ethbridge/types/types.pb.go
Due: server

[ui] wip attempt to get new confirmation balances with eye icon.
  ui/app/src/components/confirmationDialog/AskConfirmation.vue
  ui/app/src/components/shared/AssetItemLarge/AssetItemLarge.stories.ts
  ui/app/src/components/shared/AssetItemLarge/AssetItemLarge.vue
  ui/app/src/components/shared/Icon.vue
  ui/app/src/components/shared/SifButton.stories.ts
  ui/app/src/components/shared/icons/Eye.vue
  ui/app/src/components/shared/icons/Peg.vue
  ui/app/src/components/shared/icons/Pool.vue
  ui/app/src/components/shared/icons/S.vue
  ui/app/src/components/shared/icons/Soon.vue
  ui/app/src/components/shared/icons/Swap.vue
Due: none

Mark clp cmd tests for migration to integration tests
  x/clp/client/cli/tx_test.go
Due: server

Sifgen fixes to use sifnoded instead of sifnodecli
  tools/sifgen/utils/cli.go
Due: none

Better error reporting for sifgen shell executions
  tools/sifgen/utils/cli.go
Due: none

Fix for sifnoded genaccounts cmd flag parsing
  cmd/sifnoded/cmd/genaccounts.go
Due: none

fix a bug.
  x/dispensation/test/test_common.go
Due: none

fix a bug in test common.
  tools/sifgen/utils/cli.go
Due: none

work on sifgen
  Makefile
  cmd/sifgen/main.go
  cmd/sifnoded/Dockerfile
  tools/sifgen/common/types/genesis.go
  tools/sifgen/genesis/genesis.go
  tools/sifgen/node/node.go
Due: none

more refactor
  cmd/sifgen/main.go
  tools/sifgen/common/common.go
  tools/sifgen/common/types/genesis.go
  tools/sifgen/genesis/genesis.go
  tools/sifgen/network/network.go
  tools/sifgen/network/validator.go
  tools/sifgen/node/node.go
Due: none

[ui] fixes for expanding balances when confirming swap'
  ui/app/src/components/shared/AssetItemLarge/AssetItemLarge.vue
  ui/app/src/components/shared/icons/Eye.vue
Due: none

[ui] center down arrow on confirmation dialog
  ui/app/src/components/confirmationDialog/AskConfirmation.vue
  ui/app/src/components/shared/ArrowIconButton.vue
Due: none

changed code to add some debugging to figure out where failure is occuring
  deploy/helm/vault/override-values.yaml
  deploy/rake/cluster.rake
Due: none

Set the prefix as `sif`, not `cosmos` (default).
  cmd/sifnoded/main.go
Due: none

updated
  deploy/rake/cluster.rake
Due: none
