Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

Check for null values and return an empty string
  ui/core/src/utils/format.test.ts
  ui/core/src/utils/format.ts
Due: ui

update to correct gas cost
  x/ethbridge/types/msgs.go
Due: server

removed on push code
  .github/workflows/ebrelayer.yml
Due: none

ui/core/config: {devnet,testnet} -> sifchain-{devnet,testnet}
  ui/core/src/config.ts
Due: ui

chunked data
  app/app.go
  x/dispensation/abci.go
  x/dispensation/handler.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/module.go
  x/dispensation/types/events.go
  x/dispensation/types/records.go
Due: server

removed ebrelayer-integration-tests from commit for now
  .github/workflows/cert-manager.yml
  .github/workflows/ebrelayer-integration-tests.yml
  .github/workflows/ebrelayer.yml
  .github/workflows/vault.yml
Due: none

functional implementation of rewards page
  ui/app/src/components/shared/Text/Copy.vue
  ui/app/src/scss/variables.scss
  ui/app/src/views/RewardsPageNew.vue
Due: none

fix keeper
  x/ethbridge/keeper/keeper.go
Due: server

rebase
  app/app.go
  cmd/sifnoded/cmd/gentx.go
  cmd/sifnoded/cmd/oracle.go
  go.mod
  proto/sifnode/oracle/v1/types.proto
  x/oracle/alias.go
  x/oracle/genesis.go
  x/oracle/keeper/adminAccount.go
  x/oracle/keeper/adminAccount_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/test_common.go
  x/oracle/keeper/validatorWhiteList.go
  x/oracle/keeper/validatorWhiteList_test.go
  x/oracle/module.go
  x/oracle/types/claim.go
  x/oracle/types/codec.go
  x/oracle/types/expected_keepers.go
  x/oracle/types/genesis.go
  x/oracle/types/prophecy.go
  x/oracle/types/status.go
  x/oracle/types/types.pb.go
Due: server

regenerate code and fix module.go
  github.com/sifchain/sifnode/x/clp/types/genesis.pb.go
  github.com/sifchain/sifnode/x/clp/types/params.pb.go
  github.com/sifchain/sifnode/x/clp/types/querier.pb.go
  github.com/sifchain/sifnode/x/clp/types/tx.pb.go
  github.com/sifchain/sifnode/x/clp/types/types.pb.go
  go.mod
  proto/sifnode/clp/v1/genesis.proto
  proto/sifnode/clp/v1/querier.proto
  x/clp/client/cli/query.go
  x/clp/genesis.go
  x/clp/handler_test.go
  x/clp/keeper/params.go
  x/clp/module.go
  x/clp/test/test_common.go
  x/clp/types/asset.go
  x/clp/types/genesis.go
  x/clp/types/params.go
Due: server

fix cmd
  cmd/sifnoded/cmd/clpadmin.go
Due: none

PR 1044 made it impossible to start without a whitelist, so we have to remove all the test code around an empty whitelist.
  test/integration/execute_integration_tests_against_test_chain.sh
  test/integration/sifchain_start_daemon.sh
  test/integration/src/py/conftest.py
  test/integration/src/py/test_no_whitelisted_validators.py
  test/integration/start-integration-env.sh
Due: none

Truffle update requires no sudo for install
  test/integration/setup-linux-environment-user.sh
Due: none

fix rest tx
  github.com/sifchain/sifnode/x/clp/types/params.pb.go
  github.com/sifchain/sifnode/x/clp/types/querier.pb.go
  github.com/sifchain/sifnode/x/clp/types/tx.pb.go
  github.com/sifchain/sifnode/x/clp/types/types.pb.go
  go.mod
  go.sum
  proto/sifnode/clp/v1/querier.proto
  scripts/protocgen-any.sh
  scripts/protocgen.sh
  x/clp/client/cli/query.go
  x/clp/client/cli/tx.go
  x/clp/client/rest/query.go
  x/clp/client/rest/tx.go
  x/clp/keeper/grpc_query.go
  x/clp/keeper/querier.go
  x/clp/keeper/querier_test.go
  x/clp/types/genesis.pb.go
  x/clp/types/gensis.pb.go
  x/clp/types/querier.pb.go
  x/clp/types/types.go
Due: server

Tests needed the gas amount adjusted, and I tuned the ceth amounts the tests are using
  test/integration/src/py/test_eth_transfers.py
  test/integration/src/py/test_utilities.py
Due: none

added raise governance request pipeline
  .github/workflows/cert-manager.yml
  .github/workflows/create-governance-relase-request-and-vote.yml
  .github/workflows/ebrelayer.yml
  .github/workflows/vault.yml
  deploy/rake/cluster.rake
Due: none

added raise governance request pipeline
  .github/workflows/create-governance-relase-request-and-vote.yml
Due: none

removed a few inputs because max 10 on git actions
  .github/workflows/create-governance-relase-request-and-vote.yml
Due: none

reduced inputs more
  .github/workflows/create-governance-relase-request-and-vote.yml
Due: none

updated inputs again refining more for governance pipeline
  .github/workflows/create-governance-relase-request-and-vote.yml
Due: none

added some steps the the governance request pipeline and made the name of the yaml smaller to see if that is why it wasn't creating
  .github/workflows/create-governance-request.yml
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

updates
  .github/workflows/create-governance-request.yml
Due: none

removed on push
  .github/workflows/create-governance-request.yml
Due: none

updated devnet jobs to only have 4 jobs but be templatized to run by environment based on parameters.
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

coverted double qoutes in workflow for governance to single qoutes so that it doesn't accidently run the command
  deploy/rake/cluster.rake
Due: none

testing keyring generation step for governance proposal
  .github/workflows/create-governance-request.yml
  .github/workflows/ebrelayer.yml
Due: none

testing keyring generation step for governance proposal
  .github/workflows/create-governance-request.yml
Due: none

added auto retrieve vote_id
  .github/workflows/create-governance-request.yml
  deploy/rake/cluster.rake
Due: none

echoing go envs
  .github/workflows/create-governance-request.yml
Due: none

debugging sifnodecli
  .github/workflows/create-governance-request.yml
Due: none

debugging sifnodecli commands
  deploy/rake/cluster.rake
Due: none

debugging sifnodecli commands
  .github/workflows/create-governance-request.yml
Due: none
