Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

trying to fix anchore policy its not finding it
  .github/workflows/ebrelayer.yml
Due: none

Updated docs/docker compose for the new testnet, TestNet.
  deploy/docker/testnet/docker-compose.yml
  docs/chainOps/k8s/tutorials/testnet.md
  docs/chainOps/standalone/tutorials/testnet.md
Due: none

hopefully these changes fixed anchore
  .github/workflows/ebrelayer.yml
  policy_bundle.json
Due: none

updated anchore
  .github/workflows/ebrelayer.yml
  .gitignore
  policy_bundle.json
Due: none

updated anchore
  .github/workflows/ebrelayer.yml
Due: none

moved aws profile setup to rake task, fixed anchore scan and moved anchore scan to rake task, added kubeconfig cleanup setp to delete the temporary kubeconfig
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

added some echos for comments to help follow along and testing fun ascii art, validated all steps are in rake
  .github/workflows/ebrelayer.yml
Due: none

adjustments
  .github/workflows/ebrelayer.yml
Due: none

work in progress
  test/integration/src/py/test_bulk_transfers_to_ethereum.py
  test/integration/src/py/token_refresh.py
Due: none

Minor Terraform tweaks.
  deploy/terraform/providers/aws/main.tf
  deploy/terraform/providers/aws/variables.tf
Due: none

ceth is special and shouldn't run through the same token creation mechanism
  test/integration/src/py/token_setup.py
Due: none

Changed min args
  x/clp/types/codec.go
Due: server

added swingset testing vault entry, added testing integration step before cleanup and created vault sourcing rake task
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

added swingset testing vault entry, added testing integration step before cleanup and created vault sourcing rake task
  .github/workflows/ebrelayer.yml
Due: none

Tests working except for services
  ui/core/src/entities/Amount.test.ts
  ui/core/src/entities/Amount.ts
  ui/core/src/entities/AssetAmount.test.ts
  ui/core/src/entities/AssetAmount.ts
  ui/core/src/entities/Pool.test.ts
  ui/core/src/entities/formulae.calculateExternalExternalSwapResult.test.ts
  ui/core/src/entities/formulae.calculateLiquidityProviderFee.test.ts
  ui/core/src/entities/formulae.calculateLiquidityProviderUnits.test.ts
  ui/core/src/entities/formulae.calculatePriceImpact.test.ts
  ui/core/src/entities/formulae.calculateReverseSwapResult.test.ts
  ui/core/src/entities/formulae.calculateWithdrawal.test.ts
  ui/core/src/hooks/addLiquidityCalculator.test.ts
  ui/core/src/hooks/addLiquidityCalculator.ts
  ui/core/src/hooks/removeLiquidityCalculator.ts
  ui/core/src/hooks/swapCalculator.test.ts
  ui/core/src/hooks/swapCalculator.ts
  ui/core/src/hooks/useField.test.ts
  ui/core/src/hooks/useField.ts
  ui/core/src/hooks/utils.test.ts
  ui/core/src/utils/format.test.ts
  ui/core/src/utils/format.ts
Due: ui

fixed the secret pull code
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

Update comments
  ui/core/src/entities/formulae.calculateLiquidityProviderUnits.test.ts
Due: ui

Service tests not working
  ui/core/src/actions/clp/index.ts
  ui/core/src/actions/peg/index.ts
  ui/core/src/api/ClpService/ClpService.test.ts
  ui/core/src/api/ClpService/ClpService.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
  ui/core/src/api/EthereumService/EthereumService.ts
  ui/core/src/api/EthereumService/utils/ethereumUtils.ts
  ui/core/src/api/IWalletService.ts
  ui/core/src/api/SifService/SifService.test.ts
  ui/core/src/api/SifService/SifService.ts
  ui/core/src/api/utils/SifClient/toPool.ts
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
  ui/core/src/entities/AssetAmount.ts
  ui/core/src/entities/Wallet.ts
  ui/core/src/entities/formulae.calculateLiquidityProviderFee.test.ts
  ui/core/src/entities/formulae.calculatePriceImpact.test.ts
  ui/core/src/entities/index.ts
  ui/core/src/hooks/addLiquidityCalculator.ts
  ui/core/src/hooks/removeLiquidityCalculator.test.ts
  ui/core/src/hooks/swapCalculator.ts
  ui/core/src/store/wallet.ts
  ui/core/src/test/utils/getMockWalletService.ts
Due: ui

added rake tasks for installing cert-manager and vault into configured kubernetes and fixed integration test for ebrelayer
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

made updates to integration test
  .github/workflows/ebrelayer.yml
Due: none

muted the integration tests until it doesn't echo commands added cert-manager pipeline and refined rake task to deploy cert-manager into all environments on a per job basis.
  .github/workflows/cert-manager.yml
  .github/workflows/ebrelayer.yml
Due: none

checking whats wrong with generated aws profile
  .github/workflows/cert-manager.yml
  deploy/rake/cluster.rake
Due: none

checking whats wrong with generated aws profile
  .github/workflows/cert-manager.yml
Due: none

Add newlines at end of file
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
Due: ui

pulled env vars up to job level in ebrelayer
  .github/workflows/cert-manager.yml
  .github/workflows/ebrelayer.yml
Due: none

pulled env vars up to job level in ebrelayer
  .github/workflows/ebrelayer.yml
Due: none

pulled env vars up to job level in ebrelayer
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

Changed min args
  x/clp/client/cli/tx.go
Due: server

pulled env vars up to job level in ebrelayer
  deploy/rake/cluster.rake
Due: none

pulled env vars up to job level in ebrelayer
  .github/workflows/cert-manager.yml
Due: none

disable run of cert manager to see if that is steping on the ebrelayer
  .github/workflows/cert-manager.yml
  .github/workflows/ebrelayer.yml
Due: none

disable run of cert manager to see if that is steping on the ebrelayer
  .github/workflows/ebrelayer.yml
  deploy/rake/cluster.rake
Due: none

Modify file endings
  ui/core/src/assets.ethereum.localnet.json
  ui/core/src/config.localnet.json
Due: ui
