Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

Remove powerInt and expInt as they are slow and possibly unnecessary
  ui/core/src/entities/Amount.test.ts
  ui/core/src/entities/Amount.ts
  ui/core/src/entities/AssetAmount.ts
Due: ui

ui/core/sifservice: bump cosmos gas up
  ui/core/src/api/SifService/SifService.ts
Due: ui

fix app.go
  app/app.go
  app/export.go
  cmd/sifnoded/cmd/clpadmin.go
  cmd/sifnoded/cmd/faucet.go
  cmd/sifnoded/cmd/genaccounts.go
  cmd/sifnoded/cmd/gentx.go
  cmd/sifnoded/cmd/oracle.go
  cmd/sifnoded/cmd/root.go
  cmd/sifnoded/genaccounts.go
  cmd/sifnoded/main.go
Due: none

changes to whitelist CONV, RNDR, PAID
  smart-contracts/data/whitelist_mainnet_update_27_mar_2021.json
Due: none

add TIDAL
  smart-contracts/data/whitelist_mainnet_update_27_mar_2021.json
Due: none

revert log antipattern use provided loggger
  x/clp/handler.go
  x/ethbridge/handler.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/types/expected_keepers.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
Due: server

add clp migration
  proto/sifnode/clp/v1/gensis.proto
  proto/sifnode/clp/v1/params.proto
  proto/sifnode/clp/v1/querier.proto
  proto/sifnode/clp/v1/tx.proto
  proto/sifnode/clp/v1/types.proto
  proto/sifnode/oracle/v1beta1/types.proto
  x/clp/abci.go
  x/clp/alias.go
  x/clp/client/cli/tx.go
  x/clp/client/rest/query.go
  x/clp/client/rest/rest.go
  x/clp/client/rest/tx.go
  x/clp/genesis.go
  x/clp/genesis_test.go
  x/clp/handler.go
  x/clp/keeper/calculations.go
  x/clp/keeper/executors.go
  x/clp/keeper/grpc_query.go
  x/clp/keeper/keeper.go
  x/clp/keeper/keeper_test.go
  x/clp/keeper/liquidityprovider.go
  x/clp/keeper/msg_server.go
  x/clp/keeper/params.go
  x/clp/keeper/pool.go
  x/clp/keeper/querier.go
  x/clp/keeper/validatorWhitelist.go
  x/clp/module.go
  x/clp/test/test_common.go
  x/clp/types/asset.go
  x/clp/types/codec.go
  x/clp/types/expected_keepers.go
  x/clp/types/genesis.go
  x/clp/types/gensis.pb.go
  x/clp/types/msgs.go
  x/clp/types/params.go
  x/clp/types/params.pb.go
  x/clp/types/querier.pb.go
  x/clp/types/tx.pb.go
  x/clp/types/types.go
  x/clp/types/types.pb.go
Due: server

app/poolStats/PoolStatsList{Header,Item}: pool arbitrage
  ui/app/src/components/poolStats/PoolStatsListHeader.vue
  ui/app/src/components/poolStats/PoolStatsListItem.vue
Due: none

app/poolStats/PoolStatsList{Header,Item}: prettier formatting
  ui/app/src/components/poolStats/PoolStatsListHeader.vue
  ui/app/src/components/poolStats/PoolStatsListItem.vue
Due: none

Added handler logic and historical data to Dispensation module
  scripts/demos/dispensation/airdrop.sh
  x/dispensation/client/cli/tx.go
  x/dispensation/handler.go
  x/dispensation/keeper/airdropRecords.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/executors.go
  x/dispensation/types/errors.go
  x/dispensation/types/keys.go
  x/dispensation/types/msgs.go
  x/dispensation/types/record_types.go
Due: server

ui/app/PoolStatsListItem: pretty now?
  ui/app/src/components/poolStats/PoolStatsListItem.vue
Due: none

Renamed Airdrop to Distribution
  x/dispensation/alias.go
  x/dispensation/client/cli/tx.go
  x/dispensation/handler.go
  x/dispensation/keeper/distributionList.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/executors.go
  x/dispensation/types/codec.go
  x/dispensation/types/msgs.go
  x/dispensation/types/record_types.go
  x/dispensation/types/records.go
Due: server

new message to rescue ceth in module account.
  x/ethbridge/alias.go
  x/ethbridge/handler.go
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/types/codec.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/test_common.go
Due: server

Added a test for handlers
  app/app.go
  simapp/app.go
  x/clp/test/test_common.go
  x/dispensation/alias.go
  x/dispensation/client/cli/tx.go
  x/dispensation/handler_test.go
  x/dispensation/test/test_common.go
  x/dispensation/types/keys.go
Due: server

ui/core: whitelist: conv, rndr, paid, tidal
  ui/core/src/assets.ethereum.mainnet.json
  ui/core/src/assets.sifchain.mainnet.json
Due: ui

ui/poolStatsListHeader: column fix
  ui/app/src/components/poolStats/PoolStatsListHeader.vue
Due: none

app/PoolStatsListHeader: newline
  ui/app/src/components/poolStats/PoolStatsListHeader.vue
Due: none

add cli command.
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/module_client.go
  x/ethbridge/handler.go
  x/ethbridge/types/msgs.go
Due: server

add a new unit test.
  x/ethbridge/keeper/keeper_test.go
Due: server

fix lint issue.
  x/ethbridge/keeper/keeper_test.go
Due: server

fix commands
  app/app.go
  cmd/sifnoded/cmd/clpadmin.go
  cmd/sifnoded/cmd/faucet.go
  cmd/sifnoded/cmd/genaccounts.go
  cmd/sifnoded/cmd/gentx.go
  cmd/sifnoded/cmd/oracle.go
  cmd/sifnoded/cmd/root.go
  go.mod
Due: none

Removed stale readme
  scripts/demos/dispensation/airdrop.sh
  x/dispensation/README.md
Due: server

ui/chains: sifchain -> sifchain-local
  ui/chains/cosmos/run.sh
  ui/core/src/config.localnet.json
Due: ui

added sg and au to the vault deployment pipeline for swingsets
  .github/workflows/vault.yml
Due: none

added 4 devnet clusters for vault deployment pipeline pushing to test us first.
  .github/workflows/vault.yml
Due: none

re-pushing to deploy vault in sg and au.
  .github/workflows/cert-manager.yml
Due: none

updated seomthing rto redeploy for sg
  .github/workflows/cert-manager.yml
Due: none

triggering vault deployment
  .github/workflows/cert-manager.yml
Due: none

ui: sifchainLocal, fix BE URL util mapping
  ui/app/src/components/shared/utils.ts
  ui/chains/peggy/run.sh
  ui/core/src/config.localnet.json
Due: ui

[ui] Added storybook for viewing and developing components in isolation
  ui/.storybook/main.js
  ui/.storybook/preview.js
  ui/README.md
  ui/app/src/components/shared/Icon.stories.ts
  ui/package.json
  ui/yarn.lock
Due: none

ui/e2e/sifchain: dynamic test
  ui/e2e/sifchain.js
Due: none

ui/core: sifchainLocal
  ui/core/src/config.localnet.json
Due: ui

removed sg and au again and volumes so new pvs get claimed and it inits properly
  .github/workflows/cert-manager.yml
Due: none

e2e/index, keplr: notes and cleanup
  ui/e2e/index.test.js
  ui/e2e/keplr.js
Due: none

fix to sg forgot to delet installation
  .github/workflows/cert-manager.yml
Due: none
