Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

ui/core/{EthBridgeService,AssetAmount}: action more congruent with naming
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
  ui/core/src/entities/AssetAmount.ts
Due: ui

ui/core/AssetAmount.test: toBigInt, toString
  ui/core/src/entities/AssetAmount.test.ts
Due: ui

ui/core/EthBridgeService: cleanup
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
Due: ui

move sleep statement to allow space between retries if tx fails
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

Updated Vault Deployment Pipeline
  deploy/rake/cluster.rake
Due: none

Implement dispensation message server - create dispensation
  go.mod
  go.sum
  proto/sifnode/dispensation/v1/querier.proto
  proto/sifnode/dispensation/v1/query.proto
  proto/sifnode/dispensation/v1/tx.proto
  x/dispensation/alias.go
  x/dispensation/client/cli/tx.go
  x/dispensation/handler.go
  x/dispensation/handler_test.go
  x/dispensation/keeper/msg_server.go
  x/dispensation/types/codec.go
  x/dispensation/types/msgs.go
  x/dispensation/types/querier.pb.go
  x/dispensation/types/query.pb.go
  x/dispensation/types/tx.pb.go
Due: server

gRPC query service implementation
  proto/sifnode/dispensation/v1/query.proto
  proto/sifnode/dispensation/v1/types.proto
  x/dispensation/alias.go
  x/dispensation/client/cli/query.go
  x/dispensation/keeper/grpc_querier.go
  x/dispensation/keeper/querier.go
  x/dispensation/keeper/querier_test.go
  x/dispensation/module.go
  x/dispensation/types/querier.go
  x/dispensation/types/query.pb.go
  x/dispensation/types/types.go
  x/dispensation/types/types.pb.go
Due: server

added fresh docs for distribute and claims
  x/dispensation/Flow-Claim.md
  x/dispensation/Flow-Distribute.md
  x/dispensation/Readme-Claim.md
  x/dispensation/Readme-Distrubute.md
  x/dispensation/client/cli/query.go
  x/dispensation/handler.go
  x/dispensation/keeper/executors.go
  x/dispensation/test/test_common.go
  x/dispensation/types/events.go
  x/dispensation/types/records.go
  x/dispensation/types/types.go
Due: server

Fixed lint
  x/dispensation/Flow-Claim.md
  x/dispensation/Readme-Claim.md
  x/dispensation/Readme-Distrubute.md
Due: server

Fixed lint
  x/dispensation/utils/addrs.json
  x/dispensation/utils/parser_test.go
Due: server

Use sifnoded instead of sifnodecli in integration tests
  test/integration/src/py/conftest.py
  test/integration/src/py/integration_env_credentials.py
Due: none

Use --output json instead of -o json
  test/integration/src/py/burn_lock_functions.py
  test/integration/src/py/test_liquidity_pools.py
  test/integration/src/py/test_utilities.py
Due: none

Toplevel makefile shouldn't do a -a for the go build
  Makefile
Due: none

Use tx bank send instead of plain tx send
  test/integration/src/py/test_utilities.py
Due: none

Added get_shell_output_yaml to integration test
  test/integration/src/py/test_utilities.py
Due: none

Fix ebrelayer startup
  test/integration/sifchain_run_ebrelayer.sh
Due: none

Fix get_sifchain_addr_balance
  test/integration/src/py/test_utilities.py
Due: none

Work in progress for fixing up ebrelayer cli
  cmd/ebrelayer/main.go
Due: none

Fix approval baseunits bug
  ui/app/src/views/PegAssetPage.vue
  ui/e2e/index.test.js
  ui/e2e/metamask.js
  ui/e2e/package.json
  ui/yarn.lock
Due: none

[ui] random fixes to get develop running storybook correctly
  ui/app/src/components/Footer/Footer.stories.ts
  ui/app/src/components/shared/AssetItemLarge/AssetItemLarge.stories.ts
Due: none

Add reset metamask
  ui/e2e/index.test.js
  ui/e2e/metamask.js
Due: none

Revert missing t
  ui/e2e/metamask.js
Due: none

Fix var name
  ui/e2e/index.test.js
Due: none

Fix import rename breaking querier unit test
  x/dispensation/keeper/querier_test.go
Due: server

You have to provide --chain-id when you start ebrelayer
  test/integration/sifchain_run_ebrelayer.sh
Due: none

[ui] pool prices were wrong for non 18 precision coins
  ui/core/src/hooks/addLiquidityCalculator.ts
Due: ui

return on error getting cosmos bridge instance
  cmd/ebrelayer/relayer/cosmos.go
Due: none

update failed broadcast error message
  cmd/ebrelayer/relayer/cosmos.go
Due: none

[ui] changed the swap price calculator to use simpler logic
  ui/core/src/hooks/swapCalculator.ts
Due: ui

Integration tests give more options to start ebrelayer
  test/integration/sifchain_run_ebrelayer.sh
Due: none

ui/core/swapCalculator: ratio divided by absolute amount
  ui/core/src/hooks/swapCalculator.ts
Due: ui

ui/RewardsPage: typo
  ui/app/src/views/RewardsPage.vue
Due: none

ui/SwapPage: show mantissa based on asset, then trimZeroes
  ui/app/src/views/SwapPage.vue
Due: none

More startup changes for 42
  test/integration/environment_setup.sh
  test/integration/sifchain_start_daemon.sh
Due: none

Add-lockclaim
  x/dispensation/keeper/userClaim.go
Due: server

added_test_files
  input.json
  output.json
Due: none

Fixed lint
  x/dispensation/utils/parser_test.go
Due: server

ui/core/addLiquidityCalculator: try to make1 math cooperate
  ui/core/src/hooks/addLiquidityCalculator.ts
Due: ui

move tx broadcast and nonce management to tx factory
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/txs/relayToCosmos.go
Due: none

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
