Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

tweak
  .github/workflows/go.yml
  .github/workflows/node.yml
Due: none

tweak
  codecov.yml
Due: none

show flags in report
  codecov.yml
Due: none

Update slip adjustment
  ui/core/src/entities/formulae.ts
Due: ui

fix tests
  test/test-tables/pool_units.json
  ui/core/src/entities/Pool.test.ts
  ui/core/src/hooks/addLiquidityCalculator.test.ts
Due: ui

Update BE code
  x/clp/keeper/calculations.go
  x/clp/keeper/table_test.go
Due: server

Add more tests
  test/test-tables/pool_units.json
Due: none

app/PegAssetPage: tooltipMessage for unpeg fixed fee
  ui/app/src/views/PegAssetPage.vue
Due: none

app/DetailsTable: add Tooltip, Icon, tootipMessage, styling
  ui/app/src/components/shared/DetailsTable.vue
Due: none

Release v20210225011500.
  app/app.go
Due: none

fix slip adjust formula docs
  docs/clp/Liquidity Pools Architecture.md
  docs/clp/clp-adr.md
Due: none

merge and rename
  .github/workflows/integrationtest.yml
  .github/workflows/integrationtest1.yml
  .github/workflows/integrationtest2.yml
Due: none

fix pool stats headers
  ui/app/src/components/poolStats/PoolStatsListHeader.vue
Due: none

Fix create pool symbols capitalization
  ui/app/src/components/shared/DetailsPanelPool.vue
  ui/app/src/views/CreatePoolPage.vue
Due: none

up gas limit to accomdate tokens that are gas hogs
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

Fix up tooltip
  ui/app/public/index.html
  ui/app/src/App.vue
  ui/app/src/components/shared/Tooltip.vue
Due: none

Integration tests manually increase the gas prices for locks and burns
  smart-contracts/scripts/test/sendBurnTx.js
  smart-contracts/scripts/test/sendLockTx.js
Due: none

More integration test changes for load tests
  smart-contracts/scripts/test/createEthereumAddress.js
  smart-contracts/scripts/test/getTokenBalance.js
  smart-contracts/scripts/test/sendBurnTx.js
  smart-contracts/scripts/test/sendLockTx.js
  test/integration/setup_sifchain.sh
  test/integration/shell_utilities.sh
  test/integration/smart_contract_env.sh
  test/integration/src/py/test_bulk_transfers_to_ethereum.py
  test/integration/src/py/test_cleanup.py
  test/integration/src/py/test_utilities.py
Due: none

add empty pool case for calcPoolUnits
  docs/clp/Liquidity Pools Architecture.md
Due: none

revert formula
  x/clp/keeper/calculations.go
Due: server

Rollback slip adjustment changes
  test/test-tables/pool_units.json
  ui/core/src/entities/formulae.ts
Due: ui

fix tests
  ui/core/src/entities/Pool.test.ts
  ui/core/src/hooks/addLiquidityCalculator.test.ts
Due: ui

wip polling cosmos
  ui/core/src/api/utils/SifClient/SifUnsignedClient.ts
  ui/core/src/api/utils/SifClient/TendermintSocketPoll.ts
Due: ui

Removed the upgrade handler.
  app/app.go
Due: none

fix pool stats
  ui/app/src/components/poolStats/PoolStatsListHeader.vue
Due: none

Integration test cleanup
  smart-contracts/scripts/test/sendLockTx.js
  test/integration/environment_setup.sh
  test/integration/execute_testnet.sh
  test/integration/src/py/conftest.py
  test/integration/src/py/test_bulk_transfers_to_ethereum.py
  test/integration/src/py/test_utilities.py
Due: none

Integration test documentation improvements
  test/integration/README.md
Due: none

Integration tests documentation improvements
  test/integration/README.md
  test/integration/exampleenv.sh
Due: none

Integration test documentation improvements
  test/integration/README.md
  test/integration/environment_setup.sh
Due: none

Rename swingset to swing-set
  smart-contracts/deployments/swing-set/.openzeppelin/ropsten.json
  smart-contracts/deployments/swing-set/.openzeppelin/unknown-1337.json
  smart-contracts/deployments/swing-set/BridgeBank.json
  smart-contracts/deployments/swing-set/BridgeRegistry.json
  smart-contracts/deployments/swing-set/BridgeToken.json
  smart-contracts/deployments/swing-set/CosmosBridge.json
  smart-contracts/deployments/swing-set/Migrations.json
Due: none

Documentation updates
  test/integration/README.md
  test/integration/environment_setup.sh
Due: none

Integration tests remove unused variable
  smart-contracts/scripts/test/sendBulkLockTx.js
Due: none

Integration test removed unused function
  test/integration/src/py/pytest_utilities.py
Due: none

core/EthBridgeService: fix types/logic
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
Due: ui

app/Panel.vue: hide scroll bar always
  ui/app/src/components/shared/Panel.vue
Due: none

Integration test improvements
  smart-contracts/scripts/test/enableNewToken.js
  test/integration/src/py/test_bulk_transfers.py
  test/integration/src/py/test_eth_transfers.py
  test/integration/src/py/test_fanout_sifchain_account.py
  test/integration/src/py/test_liquidity_pools.py
  test/integration/src/py/test_simple.py
  test/integration/src/py/token_setup.py
Due: none

app/Panel: only display if .panel
  ui/app/src/components/shared/Panel.vue
Due: none

Decouple polling iterval from block event
  ui/core/src/api/utils/SifClient/TendermintSocketPoll.ts
Due: ui

Remove mock websocket from test
  ui/core/src/api/ClpService/ClpService.test.ts
Due: ui

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
