Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

[ui] fix for balance sort when values are undefined
  ui/app/src/views/utils/sortAssetAmount.ts
Due: none

add: retry logic for getting cosmos bridge instance and init config
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

fix: lint issue
  .golangci.yml
  cmd/ebrelayer/relayer/cosmos.go
Due: none

Bumped version to 0.8.1. Removed the peggy retry notes from the changelog.
  CHANGELOG.md
  version
Due: none

fix: rollback to old code without retry logic
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

ui/app/SelectTokenDialog: padding-right
  ui/app/src/components/tokenSelector/SelectTokenDialog.vue
Due: none

Added more unit tests
  x/dispensation/keeper/keeper_test.go
  x/dispensation/keeper/querier_test.go
Due: server

Added a handler for 0.8.1.
  app/setupHandlers.go
Due: none

Version bump to 0.8.2.
  version
Due: none

Version bump to 0.8.2.
  CHANGELOG.md
Due: none

Added a handler for 0.8.2.
  app/setupHandlers.go
Due: none

Added rest routes for creating claim
  x/dispensation/client/rest/tx.go
  x/dispensation/module.go
  x/dispensation/types/types.go
Due: server

Cleanup.
  docs/chainOps/k8s/tutorials/testnet.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix for dispensation querier unit test encoding issue
  x/dispensation/keeper/querier_test.go
Due: server

Use amino codec on all dispensation querier tests
  x/dispensation/keeper/querier_test.go
Due: server

Remove redundant default node home set
  Makefile
  app/app.go
Due: none

update relay to cosmos sequence
  cmd/ebrelayer/txs/relayToCosmos.go
Due: none

fix: incorrect error message
  cmd/ebrelayer/relayer/cosmos.go
Due: none

Fix spelling on rewards tab.
  ui/app/src/views/RewardsPage.vue
Due: none

added kms retrieve or creation to the vault install script just need to delete devnet and test
  deploy/rake/cluster.rake
Due: none

remove retry logic
  cmd/ebrelayer/relayer/cosmos.go
Due: none

Added Events for claims
  scripts/demos/dispensation/claim-distribute.sh
  x/dispensation/handler.go
  x/dispensation/types/events.go
Due: server

Added String version to query return
  x/dispensation/client/cli/query.go
  x/dispensation/types/records.go
  x/dispensation/types/types.go
Due: server

fixed lint
  x/dispensation/keeper/executors.go
Due: server

fixed lint
  x/dispensation/utils/sample.json
Due: server

added a user flow doc for claims
  x/dispensation/ClaimsFlow.md
  x/dispensation/client/rest/tx.go
Due: server

Fixed Spelling mistakes
  x/dispensation/ClaimsFlow.md
Due: server

added some details
  x/dispensation/ClaimsFlow.md
Due: server

added changes to userflow
  x/dispensation/ClaimsFlow.md
Due: server

update ceth fees
  ui/core/src/actions/peg/index.ts
  ui/core/src/api/EthbridgeService/EthbridgeService.test.ts
Due: ui

Fix up docs and add timeout for keplr
  ui/README.md
  ui/package.json
  ui/test/stack.ts
Due: none

Improved keyring handling for sifgen
  cmd/sifgen/main.go
  tools/sifgen/sifgen.go
  tools/sifgen/utils/cli.go
  tools/sifgen/utils/cli_test.go
Due: none

Integration test environment changes for 42
  test/integration/environment_setup.sh
  test/integration/setup_sifchain.sh
  test/integration/sifchain_start_daemon.sh
Due: none

added a user flow doc for claims
  x/dispensation/README.md
Due: server

ui/core/EthBridgeService: convert assetAmount amount into Baseunits
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
Due: ui

ui/core/EthBridgeService: assetAmount.toBaseUnitsAmount()
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
Due: ui

bugfix: moved wait time to expected amount
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

ui/core/entities/AssetAmount: add toBaseUnitsAmount() helper (and test)
  ui/core/src/entities/AssetAmount.test.ts
  ui/core/src/entities/AssetAmount.ts
Due: ui
