Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

Add timeouts and wait around page interaction
  ui/e2e/index.test.js
Due: none

Use ui-e2e as coverage flag
  .github/workflows/playwright-ui.yml
  ui/e2e/.gitignore
  ui/e2e/package.json
Due: none

Use ui flag
  .github/workflows/playwright-ui.yml
Due: none

Integration tests for the ceth rescue account need to use the correct accounts
  test/integration/src/py/conftest.py
  test/integration/src/py/test_peggy_fees.py
Due: none

remove statusToText
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/keeper_test.go
  x/ethbridge/types/claim_type.go
  x/oracle/types/status.go
Due: server

fix client with claim types
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/rest/rest.go
Due: server

Update cluster.rake
  deploy/rake/cluster.rake
Due: none

fix json test vector
  x/ethbridge/keeper/querier_test.go
Due: server

[ui] refactored sorting of balances for peg listing and selecting token
  ui/app/src/components/tokenSelector/SelectTokenDialog.vue
  ui/app/src/views/PegListingPage.vue
  ui/app/src/views/utils/sortAssetAmount.ts
Due: none

Missing param routes.
  app/app.go
Due: none

Rename/cleanup.
  app/app.go
Due: none

Minor fixes/tweaks.
  app/app.go
Due: none

New upgrade handler.
  app/setupHandlers.go
Due: none

fix for e2e tests for select token dialog
  ui/app/src/components/tokenSelector/SelectTokenDialog.vue
Due: none

fix for e2e test on select token dialog
  ui/app/src/components/tokenSelector/SelectTokenDialog.vue
Due: none

Fix eth address is ""
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
Due: ui

added wait to e2e test
  ui/e2e/index.test.js
Due: none

[ui] when showing balances while selecting, make sure you have an associated balance with a token before rendering
  ui/app/src/components/tokenSelector/SelectTokenDialog.vue
Due: none

updated rake to have variables replacement in it
  .github/workflows/ebrelayer.yml
  deploy/helm/ebrelayer/templates.values.yaml
  deploy/rake/cluster.rake
Due: none

updated rake to have variables replacement in it
  deploy/rake/cluster.rake
Due: none

Expose helpers for managing baseunits in frontend
  ui/app/src/views/PegAssetPage.vue
  ui/core/src/index.ts
  ui/core/src/utils/decimalShift.ts
  ui/core/src/utils/index.ts
  ui/e2e/index.test.js
Due: ui

Tidy up useField
  ui/core/src/hooks/useField.ts
Due: ui

updated rake to have variables replacement in it
  deploy/helm/ebrelayer/template.values.yaml
Due: none

Update mantissa
  ui/app/src/views/SinglePool.vue
  ui/e2e/index.test.js
Due: none

Added function to split input list among senders
  scripts/init.sh
  x/dispensation/utils/parser_test.go
Due: server

Use rounded values
  ui/e2e/index.test.js
Due: none

Bankers rounding was applied
  ui/e2e/index.test.js
Due: none

fix lint
  x/dispensation/utils/parser_test.go
Due: server

converted all ebrelayer steps to ruby instead of bash.
  deploy/rake/cluster.rake
Due: none

fixed state loader for dispensation
  app/setupHandlers.go
  scripts/init-upgrade.sh
  scripts/upgrade.sh
Due: none

Fix tendermint kv
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/test_common.go
Due: none

fix block results
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/relayer/listMissedEvent.go
Due: none

fix client context
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/relayToCosmos.go
Due: none

bump tendermint core
  go.mod
Due: none

download module
  go.sum
Due: none

remove old imports
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/relayToCosmos.go
Due: none

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
