Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

Added Runner Address to CLI
  test/integration/src/py/dispensation_envutils.py
  test/integration/src/py/test_dispensation_offlinetxn.py
  test/integration/src/py/test_dispensation_onlinetxn.py
Due: none

Remove unused code
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/parser_test.go
  proto/sifnode/ethbridge/v1/types.proto
  x/ethbridge/types/types.pb.go
Due: server

allow rules for linkedin/twitter IDs in coins.json file
  .github/.gitleaks.toml
Due: none

Add networks from sifchain mainnet
  deploy/helm/block-explorer/templates/configmap.yaml
Due: none

update fees to assume 40gwei gas price
  ui/core/src/services/EthbridgeService/EthbridgeService.test.ts
  ui/core/src/usecases/peg/index.ts
  x/ethbridge/types/msgs.go
Due: server, ui

Update test_dispensation_onlinetxn.py
  test/integration/src/py/test_dispensation_onlinetxn.py
Due: none

allow rules for known linkedin/twitter/rsa IDs in coins.json file
  .github/.gitleaks.toml
Due: none

Update dispensation_envutils.py
  test/integration/src/py/dispensation_envutils.py
Due: none

fix the comment
  x/ethbridge/types/msgs.go
Due: server

Migrating github rake tasks to more maintainable format
  deploy/rake/cluster.rake
  deploy/rake/github.rake
Due: none

Fixed iterator
  output.json
  scripts/demos/dispensation/airdrop.sh
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/distributionRecords_test.go
Due: server

Added test for migration
  betanetRecords-complete.json
  betanetRecords.json
  x/dispensation/keeper/upgrade_test.go
  x/dispensation/types/legacy/types.go
Due: server

Remove unused ethbridge ProphecyClaim proto
  proto/sifnode/ethbridge/v1/types.proto
  x/ethbridge/types/types.pb.go
Due: server

Update distribute_tokens.sh
  test/integration/distribute_tokens.sh
Due: none

Update execute_integration_tests_against_test_chain_clp.sh
  test/integration/execute_integration_tests_against_test_chain_clp.sh
Due: none

Integration Test Fixes for Runner and Run-Handler
  test/integration/src/py/dispensation_envutils.py
  test/integration/src/py/test_claims.py
  test/integration/src/py/test_dispensation_offlinetxn.py
  test/integration/src/py/test_dispensation_onlinetxn.py
  test/integration/src/py/test_dispensation_volume12.py
  test/integration/src/py/test_dispensation_volume9.py
Due: none

update failing test
  ui/core/src/services/EthbridgeService/EthbridgeService.test.ts
Due: ui

Add prophecies to oracle genesis
  x/oracle/genesis.go
  x/oracle/keeper/keeper.go
  x/oracle/types/genesis.go
Due: server

update msgs.go
  x/ethbridge/types/msgs.go
Due: server

state management
  ui/core/src/services/EthbridgeService/EthbridgeService.test.ts
  x/ethbridge/types/msgs.go
Due: server, ui

add liquidity pools test to test script
  test/integration/execute_integration_tests_against_test_chain.sh
Due: none

Bumped the version.
  app/setupHandlers.go
  version
  x/dispensation/keeper/upgrade.go
Due: server

Ignore the linter.
  x/dispensation/keeper/upgrade_test.go
Due: server

Changelog updates.
  CHANGELOG.md
Due: none

revert fee
  ui/core/src/usecases/peg/index.ts
Due: ui

Refactor all the things
  .github/workflows/ui-stack.yml
  ui/README.md
  ui/chains/peggy/build.sh
  ui/chains/snapshots/eth.tar.gz
  ui/chains/snapshots/peggy.tar.gz
  ui/chains/snapshots/peggy_build.tar.gz
  ui/chains/snapshots/sif.tar.gz
  ui/package.json
  ui/scripts/_eth-build.sh
  ui/scripts/_eth-revert.sh
  ui/scripts/_eth.sh
  ui/scripts/_migrate.sh
  ui/scripts/_peggy-build.sh
  ui/scripts/_peggy-revert.sh
  ui/scripts/_peggy.sh
  ui/scripts/_sif-build.sh
  ui/scripts/_sif-revert.sh
  ui/scripts/_sif.sh
  ui/scripts/_snapshot.sh
  ui/scripts/build.sh
  ui/scripts/kill-stack-backend.sh
  ui/scripts/latest
  ui/scripts/run-playwright-stack.sh
  ui/scripts/run-stack-backend.sh
  ui/scripts/run-stack-save-default-snapshot.sh
  ui/scripts/run-stack.sh
  ui/scripts/stack-launch.sh
  ui/scripts/stack-pause.sh
  ui/scripts/stack-push.sh
  ui/scripts/stack-save-snapshot.sh
  ui/scripts/stack.Dockerfile
  ui/scripts/stack.sh
  ui/scripts/start.sh
  ui/yarn.lock
Due: none

Test ui-stack build against current master
  .github/workflows/ui-stack.yml
Due: none

Update names
  .github/workflows/ui-stack.yml
Due: none

Use better name
  .github/workflows/ui-stack.yml
Due: none

Fix typo
  .github/workflows/ui-stack.yml
Due: none

Remove branch from stack [ci-skip]
  .github/workflows/ui-stack.yml
Due: none

Add back branch name to test e2e checkout login
  .github/workflows/ui-stack.yml
Due: none

Remove branch from triggering stack tests
  .github/workflows/ui-stack.yml
Due: none

fix the peggy fee test case.
  test/integration/src/py/test_peggy_fees.py
  x/ethbridge/keeper/keeper.go
  x/ethbridge/types/expected_keepers.go
Due: server

Execute test_peggy_fees
  test/integration/execute_integration_tests_against_test_chain.sh
Due: none

Remove obsolete tests that were supposed to test various currency names.
  test/integration/src/py/test_new_currency_transfers.py
Due: none

Add test tables
  ui/scripts/stack.Dockerfile
Due: none

Path conditions:
  server: any of: x/, but not: x/**/client/, cmd/ebrelayer, docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
  ui: any of: ui/core/src, but not: docs, *.md, *.rst, **/test_common.go, **/test_helpers.go, **/module.go, **/genesis.go, scripts/, contrib
