Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

Create backing stack with gas
  scripts/latest
  ui/README.md
  ui/app/src/views/RewardsPage.vue
  ui/chains/peggy/start.sh
  ui/chains/sif/migrate.sh
  ui/chains/sif/start.sh
  ui/chains/snapshots/eth.tar.gz
  ui/chains/snapshots/peggy.tar.gz
  ui/chains/snapshots/peggy_build.tar.gz
  ui/chains/snapshots/sif.tar.gz
  ui/scripts/build-stack-backend-docker.sh
  ui/scripts/latest
  ui/scripts/stack.Dockerfile
  ui/scripts/stack.Dockerfile.dockerignore
Due: none

Add test case
  ui/app/src/views/SwapPage.vue
  ui/core/src/services/SifService/parseTxFailure.ts
  ui/core/src/usecases/clp/index.ts
  ui/e2e/index.test.js
Due: ui

Remove log file
  smart-contracts/combined.log
Due: none

The new data structure specifies lock/burn as a string, not an int
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

Fix bad protobuf go package and fix numbering of lock and burn
  proto/sifnode/clp/v1/genesis.proto
  proto/sifnode/clp/v1/params.proto
  proto/sifnode/clp/v1/querier.proto
  proto/sifnode/clp/v1/tx.proto
  proto/sifnode/clp/v1/types.proto
  proto/sifnode/dispensation/v1/query.proto
  proto/sifnode/dispensation/v1/tx.proto
  proto/sifnode/dispensation/v1/types.proto
  proto/sifnode/ethbridge/v1/types.proto
  scripts/protocgen.sh
  x/clp/types/genesis.pb.go
  x/clp/types/params.pb.go
  x/clp/types/querier.pb.go
  x/clp/types/tx.pb.go
  x/clp/types/types.pb.go
  x/ethbridge/types/types.pb.go
Due: server

Remove use of ProphecyClaim type. It's just a duplicate of the data in CosmosMsg.
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

Remove bad merge
  ui/app/src/views/RewardsPage.vue
Due: none

Merge failed states
  ui/app/src/components/confirmationDialog/ConfirmationDialog.vue
  ui/app/src/views/SwapPage.vue
Due: none

push txStatus to dialog
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/components/confirmationDialog/ConfirmationDialog.vue
  ui/app/src/views/SwapPage.vue
Due: none

Remove transactionHash
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/components/confirmationDialog/ConfirmationDialog.vue
  ui/app/src/views/SwapPage.vue
Due: none

Refactor dialog
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/components/confirmationDialog/ConfirmationDialog.vue
  ui/core/src/entities/index.ts
Due: ui

Fix up styles
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/components/confirmationDialog/SwipeTransition.vue
  ui/app/src/components/shared/SifButton.vue
Due: none

Rename vars and tidy
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/components/confirmationDialog/ConfirmationDialog.vue
  ui/app/src/views/SwapPage.vue
Due: none

Skip test
  ui/e2e/index.test.js
Due: none

Update test
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/e2e/index.test.js
Due: none

Add error for swapping
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/views/SwapPage.vue
  ui/core/src/entities/Errors.ts
  ui/core/src/services/SifService/parseTxFailure.ts
  ui/core/src/usecases/clp/index.ts
  ui/core/src/usecases/utils/index.ts
  ui/e2e/index.test.js
Due: ui

Add test for add liquidity
  ui/core/src/usecases/clp/index.ts
  ui/e2e/index.test.js
Due: ui

Remove only
  ui/e2e/index.test.js
Due: none

Update copy parsing for animated component
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
  ui/app/src/views/SwapPage.vue
  ui/core/src/entities/Errors.ts
Due: ui

Remove wording error
  ui/core/src/entities/Errors.ts
Due: ui

Fix odd text encoding bug
  ui/e2e/index.test.js
Due: none

Add types for error object
  ui/app/src/components/confirmationDialog/AnimatedConfirmation.vue
Due: none

[ui] fixes for import/export
  ui/app/src/components/shared/PanelNav/PanelNav.vue
  ui/app/src/views/PegAssetPage.vue
  ui/app/src/views/PegListingPage.vue
Due: none

[ui] fixed bug with new import route
  ui/app/src/router/index.ts
Due: none

environment_setup.sh changes for integration tests
  test/integration/environment_setup.sh
Due: none

Remove unused code and add comments
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/relayToCosmos.go
  cmd/ebrelayer/txs/relayToEthereum.go
Due: none

Ensure the integration test networks directory exists
  test/integration/setup_sifchain.sh
Due: none

added block explorer pipeline, fixed governance request
  deploy/helm/block-explorer-vault/.gitignore
  deploy/helm/block-explorer-vault/.helmignore
  deploy/helm/block-explorer-vault/Chart.yaml
  deploy/helm/block-explorer-vault/template.values.yaml
  deploy/helm/block-explorer-vault/templates/NOTES.txt
  deploy/helm/block-explorer-vault/templates/_helpers.tpl
  deploy/helm/block-explorer-vault/templates/configmap.yaml
  deploy/helm/block-explorer-vault/templates/deployment.yaml
  deploy/helm/block-explorer-vault/templates/ingress.yaml
  deploy/helm/block-explorer-vault/templates/role.yaml
  deploy/helm/block-explorer-vault/templates/rolebinding.yaml
  deploy/helm/block-explorer-vault/templates/service.yaml
  deploy/helm/block-explorer-vault/templates/serviceaccount.yaml
  deploy/helm/block-explorer-vault/values.yaml
  deploy/rake/cluster.rake
Due: none

had a typo in vault block explorer deploy
  deploy/rake/cluster.rake
Due: none

cleaned up a few older functions in rake added helm deploy for vault templates
  deploy/rake/cluster.rake
Due: none

updated template for block explorer to replace app_region not just region
  deploy/helm/block-explorer-vault/template.values.yaml
Due: none

updated template for block explorer to replace app_region not just region
  deploy/helm/block-explorer-vault/values.yaml
Due: none

updated tempaltes for block explorer to fix root url problem
  deploy/helm/block-explorer-vault/template.values.yaml
  deploy/helm/block-explorer-vault/templates/deployment.yaml
Due: none

updated tempaltes for block explorer to fix root url problem
  deploy/helm/block-explorer-vault/template.values.yaml
Due: none

added rake task for deploying mongodb for block explorer
  deploy/rake/cluster.rake
Due: none

ensure helm repo for mongo is added
  deploy/rake/cluster.rake
Due: none

[ui] correctly show the insufficient liquidity error when swapping
  ui/core/src/usecases/clp/calculators/swapCalculator.ts
Due: ui

added more variables to template replacement for block explorer
  deploy/helm/block-explorer-vault/template.values.yaml
Due: none

added more variables to template replacement for block explorer
  deploy/rake/cluster.rake
Due: none

added single signer and tests for handler
  scripts/demos/dispensation/airdrop.sh
  x/dispensation/client/cli/tx.go
  x/dispensation/handler.go
  x/dispensation/handler_test.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/types/events.go
  x/dispensation/types/keys.go
  x/dispensation/types/msgs.go
  x/dispensation/types/msgs_test.go
  x/dispensation/utils/parser.go
  x/dispensation/utils/parser_test.go
Due: server
