Repository mdanny1209/sifchain---sifnode: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      server:
        target: 70%
        flags: server
      ui:
        target: 70%
        flags: ui
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  server:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
      - "!cmd/ebrelayer" # ignore ebrelayer, can only do integration tests
  ui:
    paths:
      - "ui/core/src"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/test_common.go"
  - "**/test_helpers.go"
  - "**/module.go"
  - "**/genesis.go"
  - "scripts/"
  - "contrib"

added initial binance helm chart
  deploy/helm/binance/.helmignore
  deploy/helm/binance/Dockerfile
  deploy/helm/binance/template.Chart.yaml
  deploy/helm/binance/template.values.yaml
  deploy/helm/binance/templates/NOTES.txt
  deploy/helm/binance/templates/_helpers.tpl
  deploy/helm/binance/templates/template.deployment.yaml
  deploy/helm/binance/templates/template.ingress.yaml
  deploy/helm/binance/templates/template.pvc.yml
  deploy/helm/binance/templates/template.serviceaccount.yaml
Due: none

removed changed to repository image and tag in the values yaml for binance helm chart because we override with deploy command
  deploy/helm/binance/template.values.yaml
Due: none

Fix addLiquidity calculator
  ui/core/src/assets.sifchain.localnet.json
  ui/core/src/hooks/addLiquidityCalculator.test.ts
  ui/core/src/hooks/addLiquidityCalculator.ts
  ui/core/src/hooks/derived.test.ts
Due: ui

Remove redundant test file
  ui/core/src/hooks/derived.test.ts
Due: ui

Add note in test
  ui/core/src/hooks/addLiquidityCalculator.test.ts
Due: ui

removed executive cluster from logic only need betanet for the interm
  deploy/rake/cluster.rake
Due: none

Fix up unit test
  ui/core/src/hooks/addLiquidityCalculator.test.ts
Due: ui

added debug logging to kms key because it didn't replace the variable in the file
  deploy/rake/cluster.rake
Due: none

removed kms debugging for vault kms generation
  deploy/rake/cluster.rake
Due: none

[ui] fix for regression in equal pooling
  ui/core/src/hooks/addLiquidityCalculator.ts
Due: ui

Added more tests
  x/dispensation/keeper/distributionRecords_test.go
  x/dispensation/keeper/distrubtions_test.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/keeper/keeper.go
  x/dispensation/keeper/keeper_test.go
  x/dispensation/keeper/userclaims_test.go
Due: server

added prefixed iterator for records
  proto/sifnode/clp/v1/genesis.proto
  proto/sifnode/clp/v1/params.proto
  proto/sifnode/clp/v1/querier.proto
  proto/sifnode/clp/v1/tx.proto
  proto/sifnode/clp/v1/types.proto
  proto/sifnode/dispensation/v1/query.proto
  proto/sifnode/dispensation/v1/tx.proto
  proto/sifnode/dispensation/v1/types.proto
  proto/sifnode/ethbridge/v1/query.proto
  proto/sifnode/ethbridge/v1/tx.proto
  proto/sifnode/ethbridge/v1/types.proto
  proto/sifnode/oracle/v1/types.proto
  scripts/demos/dispensation/airdrop.sh
  scripts/demos/dispensation/queries.sh
  x/clp/types/genesis.pb.go
  x/dispensation/client/cli/query.go
  x/dispensation/handler_test.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/distributionRecords_test.go
  x/dispensation/keeper/distributions_test.go
  x/dispensation/keeper/executors.go
  x/dispensation/keeper/grpc_querier.go
  x/dispensation/keeper/keeper_test.go
  x/dispensation/keeper/querier_test.go
  x/dispensation/types/keys.go
  x/dispensation/types/querier.go
  x/dispensation/types/query.pb.go
  x/dispensation/types/records.go
  x/dispensation/types/types.pb.go
  x/ethbridge/types/types.pb.go
  x/oracle/types/types.pb.go
Due: server

fix warnings
  x/dispensation/keeper/grpc_querier.go
  x/dispensation/keeper/querier.go
Due: server

Update betanet.md
  docs/chainOps/k8s/tutorials/betanet.md
Due: none

Remove duplicate code and deprecated structs in clp querier
  x/clp/keeper/grpc_query.go
  x/clp/keeper/querier.go
  x/clp/keeper/querier_test.go
  x/clp/types/types.go
Due: server

Increase test stability
  ui/e2e/ethereum.js
  ui/e2e/index.test.js
  ui/e2e/keplr.js
  ui/e2e/metamask.js
  ui/test/tsconfig.json
Due: none

Close pages we are not using
  ui/e2e/index.test.js
  ui/e2e/metamask.js
Due: none

Initial helm charts for deploying the cryptoeconomics endpoint.
  deploy/helm/cryptoeconomics/.gitignore
  deploy/helm/cryptoeconomics/.helmignore
  deploy/helm/cryptoeconomics/Chart.yml
  deploy/helm/cryptoeconomics/templates/NOTES.txt
  deploy/helm/cryptoeconomics/templates/_helpers.tpl
  deploy/helm/cryptoeconomics/templates/deployment.yml
  deploy/helm/cryptoeconomics/templates/ingress.yml
  deploy/helm/cryptoeconomics/templates/role.yml
  deploy/helm/cryptoeconomics/templates/rolebinding.yml
  deploy/helm/cryptoeconomics/templates/service.yml
  deploy/helm/cryptoeconomics/templates/serviceaccount.yml
  deploy/helm/cryptoeconomics/values.yml
Due: none

Revert Ethbridge hack
  ui/core/src/api/EthbridgeService/EthbridgeService.ts
  ui/core/src/entities/AssetAmount.test.ts
  ui/core/src/entities/AssetAmount.ts
  ui/core/src/hooks/addLiquidityCalculator.ts
Due: ui

Remove redundant import
  ui/core/src/entities/AssetAmount.ts
Due: ui

Update comment
  ui/core/src/entities/AssetAmount.ts
Due: ui

added error check to block-beginner
  x/dispensation/abci.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/querier.go
  x/dispensation/types/keys.go
  x/dispensation/types/msgs.go
Due: server

added genesis
  x/dispensation/genesis.go
Due: none

added assert for res
  x/dispensation/keeper/distrubtions_test.go
Due: server

commit store
  deploy/rake/cluster.rake
Due: none

added crypto economics chart from Brents feature/cryptoeconomics branch and adjusted the helm chart to make the deploy work
  deploy/helm/cryptoeconomics/Chart.yaml
  deploy/helm/cryptoeconomics/templates/deployment.yaml
  deploy/helm/cryptoeconomics/templates/ingress.yaml
  deploy/helm/cryptoeconomics/templates/role.yaml
  deploy/helm/cryptoeconomics/templates/rolebinding.yaml
  deploy/helm/cryptoeconomics/templates/service.yaml
  deploy/helm/cryptoeconomics/templates/serviceaccount.yaml
  deploy/helm/cryptoeconomics/values.yaml
Due: none

added genesis import and export with tests
  app/app.go
  proto/sifnode/dispensation/v1/types.proto
  x/dispensation/genesis.go
  x/dispensation/genesis_test.go
  x/dispensation/keeper/distributionRecords.go
  x/dispensation/keeper/executors_test.go
  x/dispensation/keeper/querier_test.go
  x/dispensation/module.go
  x/dispensation/test/test_common.go
  x/dispensation/types/genesis.go
  x/dispensation/types/types.pb.go
Due: server

Update validator.rake
  deploy/rake/validator.rake
Due: none

format proto
  proto/sifnode/clp/v1/genesis.proto
  proto/sifnode/clp/v1/params.proto
  proto/sifnode/clp/v1/querier.proto
  proto/sifnode/clp/v1/tx.proto
  proto/sifnode/clp/v1/types.proto
  proto/sifnode/dispensation/v1/query.proto
  proto/sifnode/dispensation/v1/tx.proto
  proto/sifnode/dispensation/v1/types.proto
  proto/sifnode/ethbridge/v1/query.proto
  proto/sifnode/ethbridge/v1/tx.proto
  proto/sifnode/ethbridge/v1/types.proto
  proto/sifnode/oracle/v1/types.proto
Due: none

rebased based branch
  proto/sifnode/clp/v1/genesis.proto
Due: none

Tweaks based on a recent PR.
  docs/chainOps/k8s/tutorials/betanet.md
  docs/chainOps/k8s/tutorials/testnet.md
  docs/chainOps/standalone/tutorials/betanet.md
  docs/chainOps/standalone/tutorials/testnet.md
Due: none

Minor tweaks.
  docs/chainOps/k8s/tutorials/betanet.md
  docs/chainOps/k8s/tutorials/testnet.md
Due: none

Reverted an earlier mistake.
  docs/chainOps/k8s/tutorials/betanet.md
  docs/chainOps/k8s/tutorials/testnet.md
Due: none

Removed the old videos for merry-go-round.
  docs/chainOps/k8s/tutorials/testnet.md
Due: none

Feedback from the community.
  docs/chainOps/standalone/tutorials/betanet.md
  docs/chainOps/standalone/tutorials/testnet.md
Due: none

work in progress
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/replay.go
  test/integration/sifchain_run_ebrelayer.sh
Due: none

Set a minimum of 8Gi and a max of 16Gi for the container.
  deploy/helm/cryptoeconomics/values.yaml
Due: none
